<app-nav></app-nav>
<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6 col-xs-12">
      <div class="card card-border p-3">
        <div class="row px-5 pb-1 pt-3">
          <div class="col-md-12 mb-2">
            <h5>
              <!-- <b>Bienvenido {{ nombre }}</b> -->
            </h5>
          </div>

          <div class="col-md-12">
            <form [formGroup]="form">
              <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Ingresa tu correo electrónico"
                  id="email"
                  aria-describedby="emailUsuario"
                  formControlName="email"
                  readonly

                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"
                  >Ingresa tu nueva contraseña</label
                >
                <input
                  [type]="hide ? 'password' : 'text'"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  aria-describedby="password"
                />
              </div>

              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  (change)="hide = !hide"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Mostrar contraseña</label
                >
              </div>

              <div class="text-center mt-4">
                <button
                  type="button"
                  class="btn"
                  style="
                    background-color: #005ad2;
                    color: #f2f3f5;
                    font-weight: bold;
                    width: 60%;
                  "
                  [disabled]="form.invalid"
                  (click)="continuar()"
                >
                  Continuar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br /><br />

<app-footer></app-footer>
