

<div class="card card-border p-3 mt-4">
  <div class="row px-5">
    <div class="col-md-12 mb-2">
      <h5 id="invalidSO"><b>2. Selecciona el Sistema Operativo</b></h5>
      <small class="text-danger" *ngIf="errorSO == 2">
        <b>Debe seleccionar el Sistema Operativo y versión correspondiente</b>
      </small>
      <small class="text-danger" *ngIf="invalidLicencia == 2">
        <b>Debe seleccionar una licencia de Cpanel</b>
      </small>
    </div>

    <div class="col-md-12">
      <div class="row" [formGroup]="form">
        <div class="col-md-4 text-center" *ngFor="let item of sistemaOperativo; let i=index">
          <input
            type="radio"
            class="btn-check"
            [id]="item.nombre"
            [value]="item.id_os"
            autocomplete="off"
            formControlName="os"
            (change)="sistemaopactive(item)"
          />

          <label
            class="btn btn-periodos px-0 pb-0 card-border text-center"
            [for]="item.nombre"
            style="
              width: 100%;
              border-radius: 0px;
              text-align: left;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            "
          >
            <h2 class="px-3">{{item.nombre}}</h2>

            <i [class]="item.icono" style="font-size: 80px"></i>

            <br />
            <br />
          </label>


            <div class="row mt-2" [ngClass]="{
              'd-none': item.active != select
            }">
              <div class="col">
                <select class="form-select" formControlName="version" (change)="guardar()">
                  <option selected>Seleccione versión</option>
                  <option *ngFor="let item2 of item.versiones" [value]="item2.id_version">{{item2.version}}</option>
                </select>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-2 mt-3 licenciacpanel" [formGroup]="form" [ngClass]="{
       'd-none': form.value.version !=3
    }"
    [ngClass]="{
       'd-none': form.value.version != 4
    }"
    >
      <h5><b>2.1. Selecciona la Licencia Cpanel</b>  </h5>

      <form class="mt-2" [ngClass]="{
        'd-none': form.value.version != 3
     }"
     [ngClass]="{
        'd-none': form.value.version != 4
     }"id="opc-select-cpanel">
        <div class="row">
          <div class="col">
            <select class="form-select" formControlName="licencia"  (change)="guardar()">
              <option selected>Seleccione licencia</option>
              <option *ngFor="let licencia of licencias" [value]="licencia.id_producto">{{licencia.nombre}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card card-border p-3 mt-4" [formGroup]="form" *ngIf="producto.subcategoria_id == 6 || producto.subcategoria_id == 8 || producto.subcategoria_id == 9; else vpswindows ">
  <div class="row px-5">
    <div class="col-md-12 mb-2">
      <h5 id="invalidAdmin"><b>3. Administración para su servidor</b></h5>
      <small class="text-danger" *ngIf="invalidAdmin == 2">
        <b>Debe seleccionar si desea administración o no en su VPS</b>
      </small>
    </div>

    <div
      class="col-md-12 card card-border p-3"
      data-opc="conadmin"
      style="border: 1.3px solid #999999; cursor: pointer"
    >
      <div class="col-md-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            value="1"
            (change)="guardar()"
            formControlName="administrar"
            id="conadmin"
          />
          <label class="form-check-label" for="conadmin">
            Quiero Administración para mi VPS
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row px-5 mt-3">
    <div
      class="col-md-12 card card-border p-3"
      data-opc="sinadmin"
      style="border: 1.3px solid #999999; cursor: pointer"
    >
      <div class="col-md-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            value="0"
            (change)="guardar()"
            formControlName="administrar"
            id="sinadmin"
          />
          <label class="form-check-label" for="sinadmin">
            No quiero Administración
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #vpswindows>
  <div class="card card-border p-3 mt-4" [formGroup]="form">

    <div class="row px-5">

      <div class="col-md-12 mb-2">

        <h5><b>3. Agrega SQL Server</b></h5>

        <form class="mt-2  d-nones" id="opc-select-cpanel">

            <div class="row">

              <div class="col">

                <select class="form-select" formControlName="licencia"  (change)="guardar()">
                  <option selected>Seleccione licencia</option>
                  <option *ngFor="let licencia of licencias" [value]="licencia.id_producto">{{licencia.nombre}}</option>
                </select>

              </div>

            </div>

          </form>

      </div>

    </div>

  </div>
</ng-template>



