<div class="card card-border p-3 mt-4">
  <div class="row px-5">
    <div class="col-md-12">
      <h5><b>2. Selecciona período de facturación</b></h5>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 text-center">
          <button
            type="button"
            class="btn bg-azul-crt text-white p-0"
            style="
              font-size: 16px;
              width: 100%;
              border-radius: 0px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            "
          >
            Más económico
          </button>

          <input
            type="radio"
            class="btn-check"
            name="periodo"
            id="periodo1"
            precio="124350"
            value="6"
            autocomplete="off"
            checked
          />

          <label
            class="btn btn-periodos px-0 pb-0 card-border"
            for="periodo1"
            style="
              width: 100%;
              border-radius: 0px;
              text-align: left;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            "
          >
            <strong class="px-3" style="font-size: 17px">
              Cada 3 años
            </strong>

            <br />

            <strong class="px-3">
              $5.181

              <small style="font-size: 14px">CLP/mes</small>
            </strong>

            <p class="px-3" style="line-height: 1.2">
              <small style="font-size: 14px; color: #1f2044">
                De:
                <span style="text-decoration: line-through"
                  >$248.700 CLP</span
                >
              </small>

              <br />

              <small style="font-size: 14px; color: #1f2044">
                A: <b>$124.350 CLP</b> <br />
                por 3 años
              </small>
            </p>

            <div class="mb-0 pt-1 pb-1 text-center card-footer">
              <small><b>Ahorra: $124.350 CLP</b></small>
            </div>
          </label>
        </div>

        <div class="col-md-4 text-center">
          <button
            type="button"
            class="btn bg-white text-white p-0"
            style="
              font-size: 16px;
              width: 100%;
              border-radius: 0px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            "
          >
            Más económico
          </button>

          <input
            type="radio"
            class="btn-check"
            name="periodo"
            id="periodo2"
            precio="124350"
            value="6"
            autocomplete="off"
          />

          <label
            class="btn btn-periodos px-0 pb-0 card-border"
            for="periodo2"
            style="
              width: 100%;
              border-radius: 0px;
              text-align: left;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            "
          >
            <strong class="px-3" style="font-size: 17px">
              Cada 2 años
            </strong>

            <br />

            <strong class="px-3">
              $5.181

              <small style="font-size: 14px">CLP/mes</small>
            </strong>

            <p class="px-3" style="line-height: 1.2">
              <small style="font-size: 14px; color: #1f2044">
                De:
                <span style="text-decoration: line-through"
                  >$248.700 CLP</span
                >
              </small>

              <br />

              <small style="font-size: 14px; color: #1f2044">
                A: <b>$124.350 CLP</b> <br />
                por 2 años
              </small>
            </p>

            <div class="mb-0 pt-1 pb-1 text-center card-footer">
              <small><b>Ahorra: $124.350 CLP</b></small>
            </div>
          </label>
        </div>

        <div class="col-md-4 text-center">
          <button
            type="button"
            class="btn bg-white text-white p-0"
            style="
              font-size: 16px;
              width: 100%;
              border-radius: 0px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            "
          >
            Más económico
          </button>

          <input
            type="radio"
            class="btn-check"
            name="periodo"
            id="periodo3"
            precio="124350"
            value="6"
            autocomplete="off"
          />

          <label
            class="btn btn-periodos px-0 pb-0 card-border"
            for="periodo3"
            style="
              width: 100%;
              border-radius: 0px;
              text-align: left;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            "
          >
            <strong class="px-3" style="font-size: 17px">
              Cada 1 año
            </strong>

            <br />

            <strong class="px-3">
              $5.181

              <small style="font-size: 14px">CLP/mes</small>
            </strong>

            <p class="px-3" style="line-height: 1.2">
              <small style="font-size: 14px; color: #1f2044">
                De:
                <span style="text-decoration: line-through"
                  >$248.700 CLP</span
                >
              </small>

              <br />

              <small style="font-size: 14px; color: #1f2044">
                A: <b>$124.350 CLP</b> <br />
                por 1 años
              </small>
            </p>

            <div class="mb-0 pt-1 pb-1 text-center card-footer">
              <small><b>Ahorra: $124.350 CLP</b></small>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
