<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header" style="border-bottom: 0px; padding-bottom: 0px">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="dominios.length > 0; else preload">
        <div class="row resultados">
          <div class="col-md-12 d-flex justify-content-center align-items-center">
            
            <div *ngIf="statusDominioBuscado; else nodisponible">
              <h4 class="mt-1 text-center titulo-bold" style="font-weight: 600"  >
                <i class="far fa-check-circle" style="color: #32cb00"></i>
                {{dominiobuscado}} está disponible
              </h4>

              <div class="btn_hover0 d-flex justify-content-center opc_hover" style="width: auto;">
                        <div class="item" style="cursor: pointer">
                          <a
                            class="btn-add btn-add"
                            itemn="0"
                          >
                            <span class="d-block">
                              <i
                                style="font-size: 28px"
                                class="fas fa-cart-plus"
                              ></i>
                              <p
                                style="
                                  font-size: 11px;
                                  line-height: 1;
                                  visibility: hidden;
                                "
                              >
                                &nbsp;
                              </p>
                            </span>

                            
                            <span class="span-addcard px-1"
                            >
                              <i class="far fa-check-circle"></i>

                              <p style="font-size: 11px; line-height: 1">
                                Añadir al carrito
                              </p>
                            </span>

                            <!--
                            <span class="px-1 d-none" style="padding: 20px 20px;height: 80px;" >
                              <i style="font-size:28px;" class="far fa-check-circle"></i>
                              <p style="font-size:11px;line-height: 1;">Continuar al carrito</p>
                            </span>
                          -->
                          




                          </a>
                        </div>
              </div>
            </div>

            <ng-template #nodisponible>

              <h4 class="mt-1 text-center titulo-bold" style="font-weight: 600">
                <i class="far fa-times-circle" style="color: #c70d00"></i>
                {{dominiobuscado}} no está disponible
              </h4>

            </ng-template>

          </div>

          <div class="col-md-12">
            <h5 class="mt-1 text-center titulo-bold">
              Otros dominios que te pueden interesar
            </h5>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                (click)="addAllDomains()"
              />

              <label class="form-check-label" for="flexCheckChecked">
                Seleccionar todos los dominios
              </label>
            </div>
          </div>

          <div
            class="col-md-6 col-xs-12 d-none d-md-block d-lg-block card-newd"
          >
            &nbsp;
          </div>

          <div
            class="col-md-6 col-xs-12 d-xs-none d-md-block d-lg-block card-newd"
          >
            &nbsp;
          </div>
          <ng-container *ngFor="let dominio of dominios">
            <div class="col-md-6 col-xs-12" *ngIf="dominio.status=='free' && dominio.domain!==dominiobuscado">
              <div class="row d-flex align-items-center card-newd" >
                <div class="col-md-6 col-5">
                  <h6>{{dominio.domain}}</h6>
                </div>

                <div class="col-md-6 col-7">
                  <div class="row d-flex align-items-center">
                    <div class="col-8 p-0">
                      <div class="precio-dominio-recomendacion float-right">
                        <p style="margin: 5px; text-align: right">
                          <b style="color: #005ad2">{{dominio.precio_bd | currency:'USD':'symbol-narrow':'0.0-0':'es-CL'}} CLP</b><br /><small
                            style="color: #afb0b2"
                            >Por el primer año</small
                          >
                        </p>
                      </div>
                    </div>

                    <div class="col-4 p-0">
                      <div
                        class="btn_hover0 d-flex justify-content-center"
                        [ngClass]="{'opc_hover2': dominio.agregado == true, 'opc_hover' : dominio.agregado == false }"
                      >
                        <div class="item" style="cursor: pointer">
                          <a
                            class="btn-add"
                            [ngClass]="{'btn-delete': dominio.agregado == true, 'btn-add' : dominio.agregado == false }"
                            itemn="0"
                          >
                            <span [ngClass]="{
                              'd-none': dominio.agregado == true,
                              'd-block': !dominio.agregado
                            }">
                              <i
                                style="font-size: 28px"
                                class="fas fa-cart-plus"
                              ></i>
                              <p
                                style="
                                  font-size: 11px;
                                  line-height: 1;
                                  visibility: hidden;
                                "
                              >
                                &nbsp;
                              </p>
                            </span>

                            <span class="span-addcard px-1"

                            [ngClass]="{
                              'd-none': dominio.agregado == true
                            }"
                            (click)="agregarcarro(dominio)"

                            >
                              <i class="far fa-check-circle"></i>

                              <p style="font-size: 11px; line-height: 1">
                                Añadir al carrito {{dominio.agregado}}
                              </p>
                            </span>


                            
                            <span class="px-1 d-block" style="padding: 20px 20px;height: 80px;"  
                              *ngIf="dominio.agregado"
                            >
                              <i style="font-size:28px;" class="far fa-check-circle"></i>
                              <p style="font-size:11px;line-height: 1;">Añadido al carrito</p>
                            </span>
                            



                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </div>

        <div class="row">
          <div class="col-md-12 text-center mt-4">
            <button
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
              class="btn btn-add-dominio"
              style="
                background-color: #005ad2;
                color: #f2f3f5;
                font-weight: bold;
                width: 45%;
              "
            >
              Continuar
            </button>
          </div>
        </div>
      </div>

      <ng-template #preload>

        <div class="modal-body d-flex justify-content-center mb-5 mt-5">

          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>

        </div>

      </ng-template>



    </div>
  </div>
</div>
