<!--
<div class="listado-planes">
  <div class="row d-flex justify-content-center mt-3 mb-5">


    <div class="mb-4"
    [ngClass]="resultadobusqueda ? 'col-md-3' : 'col-md-4'"
    *ngFor="let item of productos; let i = index">
      <div
        class="card h-100"
        style="border-right: 1px solid rgba(0, 0, 0, 0.125)"
        [ngClass]="{ 'card-border': resultadobusqueda}"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-center">
              <h4 class="card-title" style="color: #666666">
                Plan {{ item.subcategoria.categoria.nombre }}
              </h4>

              <h4 class="card-title">{{ item.nombre }}</h4>
            </div>

            <div class="col-12 px-5">
              <small style="color: #999b9a; font-weight: bold"
                >A partir de</small
              >

              <span class="badge badge-pill badge-dark float-right porcentaje"
                >-{{ item.descuento }}%</span
              >
            </div>

            <div class="col-12 text-center">
              <span style="color: black; font-weight: bold; font-size: 40px"
                >{{item.precio | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}}</span
              >
              <span style="color: black; font-weight: bold; font-size: 20px"
                >CLP/Mes</span
              >
            </div>

            <div class="col-12 text-center">
              <span style="color: #005ad2; width: 80%"
                ><strong>Ahorras {{item.ahorro | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</strong>
              </span>
            </div>

            <div class="col-12 text-justify ps-4 pe-4" *ngIf="!resultadobusqueda">

              <ul
                class="list-caracteristicas"
                *ngFor="let item2 of item.caracteristicas; let j = index"
              >
                <li>
                  {{ item2.nombre }}
                  <span class="float-end">{{ item2.capacidad }}</span>
                </li>
              </ul>
            </div>

            <div class="col-12 d-flex justify-content-center">
              <button
                type="button"
                (click)="contratar(item)"
                class="btn p-1 mt-4 btncontratar"
              >
                Contratar
              </button>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <ul></ul>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
-->

<div class="listado-planes">

  <div class="row d-none">

    <div class="d-flex justify-content-center">
      <div (click)="owlCar.prev()"><</div>
      <div (click)="owlCar.next()">></div>
    </div>

  </div>

  <div class="row d-flex justify-content-center mt-3 mb-5">

    <owl-carousel-o [options]="owl_planes" #owlCar>


      <ng-template carouselSlide *ngFor="let item of productos; let i = index" style="width:250px">

          <div
            class="card mx-2 plan-border h-100"
            style="/*border-right: 1px solid rgba(0, 0, 0, 0.125)*/"
            [ngClass]="{ 'card-border': resultadobusqueda}"
          >
            <div class="card-body">
              <div class="row">
                <div class="col-12 text-center">
                  <h4 class="card-title" style="color: #666666">
                    Plan {{ item.subcategoria.categoria.nombre }}
                  </h4>

                  <h5 class="card-title">{{ item.nombre }}</h5>
                </div>

                <div class="col-12 px-5">
                  <small style="color: #999b9a; font-weight: bold"
                    >A partir de</small
                  >

                  <span class="badge badge-pill badge-dark float-right porcentaje"
                    >-{{ item.descuento }}%</span
                  >
                </div>

                <div class="col-12 text-center">
                  <span style="color: black; font-weight: bold; font-size: 32px"
                    >{{item.precio | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}}</span
                  >
                  <span style="color: black; font-weight: bold; font-size: 20px"
                    >CLP/Mes</span
                  >
                </div>

                <div class="col-12 text-center">
                  <span style="color: #005ad2; width: 80%"
                    ><strong>Ahorras {{item.ahorro | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</strong>
                  </span>
                </div>

                <div class="col-12 text-justify ps-4 pe-4" *ngIf="!resultadobusqueda">
                  <!--<small><strong>Precio Normal: $ Anual</strong></small>-->

                  <ul
                    class="list-caracteristicas"
                    *ngFor="let item2 of item.caracteristicas; let j = index"
                  >
                    <li>
                      {{ item2.nombre }}
                      <span class="float-end">{{ item2.capacidad }}</span>
                    </li>
                  </ul>
                </div>

                <div class="col-12 d-flex justify-content-center">
                  
                  
                  <button
                    *ngIf="item.subcategoria_id==6; else otrosplanes"
                    type="button"
                    class="btn p-1 mt-4 btncontratar"
                    (click)="contratarjumpseller(item)"
                    data-bs-toggle="modal"
                    data-bs-target="#InfoEcommerce" 
                  >
                    {{'contratar' | translate}}
                  </button>

                  <ng-template #otrosplanes>

                    <button
                      type="button"
                      (click)="contratar(item)"
                      class="btn p-1 mt-4 btncontratar"
                    >
                      {{'contratar' | translate}}
                    </button>

                  </ng-template>

                  
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">
                  <ul></ul>
                </div>
              </div>
            </div>
          </div>

      </ng-template>

    </owl-carousel-o>

  </div>
</div>

<div
  class="modal fade"
  id="InfoEcommerce"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="InfoEcommerceLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" >
      <div class="modal-header" style="border-bottom: 0px; padding-bottom: 0px">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <div class="row resultados">

          <div class="col-md-12">

            <h4 class="azul-crt text-center">
              COMIENZA TU PRUEBA GRATIS HOY
            </h4>
            <h6 class="text-center">No requiere tarjeta de crédito.</h6>
            <br>
            
            <form class="pt-3 pb-5 px-3" id="formulario_ecommerce" [formGroup]="form"  >

              <div *ngIf="paso1_eco">

                <div class="form-group mb-4">

                  <h4 class="azul-crt text-center">
                    ¿Que período desea contratar?
                  </h4>

                  <ng-container *ngFor="let periodo of periodos_ecommerce">

                    <div class="form-check form-check-inline pl-3">
                    
                      <input class="form-check-input"
                             type="radio" 
                             name="periodo_select" 
                             formControlName="periodo_select" 
                             [value]="periodo.id_periodo"
                      >
                      
                      <label class="form-check-label" for="inputTipoContrato1">
  
                        <b style="font-size: 17px;" *ngIf="periodo.id_periodo==1; else otrosperiodos">1 Mes</b>
  
                        <ng-template #otrosperiodos>

                          <b style="font-size: 17px;">{{periodo.periodo}}</b>

                        </ng-template>

                      </label>
  
                    </div>

                  </ng-container>

                  <div
                    style="width: 100%;margin-top: 0.25rem;font-size: .875em;color: #dc3545;"
                    *ngIf="validarperiodos"
                  >
                    {{ mensajeerrorperiodo }}
                  </div>

                </div>

                <div class="form-group mb-4">

                    <label class="input">

                        <input 
                            class="input__field" 
                            [ngClass]="{
                              'is-invalid': validarcampo('email') || validar.email
                            }"
                            type="email" 
                            placeholder=" " 
                            id="email" 
                            formControlName="email" 
                            required/>

                        <span class="input__label">Tu correo</span>
                        <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('email') || validar.email"
                        >
                          {{ mensajeerroremail }}
                        </div>

                    </label>

                </div>

                <div class="form-group mb-4">

                    <label class="input">

                        <input 
                            class="input__field" 
                            [ngClass]="{
                              'is-invalid': validarcampo('nombretienda') || validar.nombretienda
                            }"
                            type="text" 
                            placeholder=" " 
                            id="nombretienda"
                            formControlName="nombretienda"
                            required/>

                        <span class="input__label">Nombre de tu tienda</span>
                        <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('nombretienda') || validar.nombretienda"
                        >
                          {{ mensajeerrornombretienda }}
                        </div>

                    </label>

                </div>

                <div class="form-group mb-4">

                        <div class="input-group">
                    
                            <div class="input-group-prepend d-flex">

                                <div class="input-group-text input__field_tele d-flex align-items-center">
                                +569
                                </div>
                            
                            </div>
                    

                            <input 
                                class="form-control input__field_telefono" 
                                [ngClass]="{
                                  'is-invalid': validarcampo('telefono') || validar.telefono
                                }"
                                type="text" 
                                placeholder="Móvil" 
                                id="telefono" 
                                formControlName="telefono"
                                (keyup)="validarcaracteres($event)"
                                [maxlength]="8"
                                required  />

                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('telefono') || validar.telefono"
                            >
                              {{ mensajeerrortelefono }}
                            </div>

                        </div>

                        <small *ngIf="contador>0"><b>Debe ingresar {{contador}} caracteres</b></small>


                </div>

              </div>

              <div *ngIf="paso2_eco">

                <div class="form-group mb-4">

                    <label class="input">

                        <input 
                            class="input__field" 
                            [ngClass]="{
                              'is-invalid': validarcampo('nombre') || validar.nombre
                            }"
                            type="text" 
                            placeholder=" " 
                            id="nombre" 
                            formControlName="nombre"
                            required/>

                        <span class="input__label">Ingresa tu nombre</span>
                        <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('nombre') || validar.nombre"
                        >
                          {{ mensajeerrornombre }}
                        </div>

                    </label>

                </div>

                <div class="form-group mb-4">

                  <h3 class="azul-crt text-center">
                    ¿COMO DESEA CONTRATAR?
                  </h3>

                  <div class="form-check form-check-inline pl-3">
                    
                    <input class="form-check-input"
                           type="radio" 
                           name="tipocontrato" 
                           formControlName="tipocontrato" 
                           id="inputTipoContrato1" 
                           value="1"
                    >
                    
                    <label class="form-check-label" for="inputTipoContrato1">

                      <b style="font-size: 17px;">Persona</b>

                    </label>

                  </div>

                  <div class="form-check form-check-inline pl-3">
                    
                    <input class="form-check-input" 
                           type="radio" 
                           name="tipocontrato" 
                           formControlName="tipocontrato" 
                           id="inputTipoContrato2" 
                           value="2"
                      >
                    
                    <label class="form-check-label" for="inputTipoContrato2">

                      <b style="font-size: 17px;">Empresa</b>

                    </label>

                  </div>
                  <div
                    style="width: 100%;margin-top: 0.25rem;font-size: .875em;color: #dc3545;"
                    *ngIf="validarcampo('tipocontrato') || validar.tipocontrato"
                  >
                    {{ mensajeerrortipocontrato }}
                  </div>

                </div>

                <div class="form-group mb-4">

                    <label class="input">

                        <input 
                            class="input__field" 
                            [ngClass]="{
                              'is-invalid': validarcampo('rut') || validar.rut
                            }"
                            type="text" 
                            placeholder=" " 
                            id="rut" 
                            formControlName="rut"
                            required/>

                        <span class="input__label">Ingresa tu RUT/RUT Empresa</span>
                        <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('rut') || validar.rut"
                        >
                          {{ mensajeerrorrut }}
                        </div>

                    </label>

                </div>

                <div class="form-group mb-4">

                    <label class="input">

                        <input 
                            class="input__field" 
                            [ngClass]="{
                              'is-invalid': validarcampo('giro') || validar.giro
                            }"
                            type="text" 
                            placeholder=" " 
                            id="giro"
                            formControlName="giro"
                            required/>

                        <span class="input__label">Ingresa tu Giro</span>
                        <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('giro') || validar.giro"
                        >
                          {{ mensajeerrorgiro }}
                        </div>

                    </label>

                </div>

                <div class="form-group mb-4">

                  <label class="input">

                      <input 
                          class="input__field" 
                          [ngClass]="{
                            'is-invalid': validarcampo('direccion') || validar.direccion
                          }"
                          type="text" 
                          placeholder=" " 
                          id="direccion"
                          formControlName="direccion"
                          required/>

                      <span class="input__label">Ingresa tu Dirección</span>
                      <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('direccion') || validar.direccion"
                      >
                          {{ mensajeerrordireccion }}
                      </div>

                  </label>

                </div>

              </div>

              <div *ngIf="paso3_eco">

                <h4 class="azul-crt text-center">
                  Tu tienda está siendo preparada por nuestro equipo de Soporte, en unos minutos te contactaremos.
                </h4>

                <h6 class="text-center">Muchas Gracias.</h6>

              </div>

              <div class="row mt-3">

                  <div class="col-12 text-center">

                      <button  
                        *ngIf="paso1_eco; else frase2"
                        class="btn btn-submit float-right" 
                        (click)="insertarEcommerce('pantalla1')" 
                        type="button" 
                        style="border-radius: 5px;color:#FFF; 
                               background-color:#005AD2; 
                               width: 140px;
                               height: 45px;
                               font-size: 18px;" 
                      >
                      ¡EMPECEMOS!
                      </button>

                      <ng-template #frase2>

                        <button  
                         *ngIf="paso2_eco; else frase3"
                          class="btn btn-submit float-right" 
                          (click)="insertarEcommerce('pantalla2')" 
                          type="button" 
                          style="border-radius: 5px;color:#FFF; 
                                background-color:#005AD2; 
                                width: 140px;
                                height: 45px;
                                font-size: 18px;" 
                        >
                          CONTINUAR
                        </button>

                      </ng-template>

                      <ng-template #frase3>

                        <button  
                          *ngIf="paso3_eco"
                          class="btn btn-submit float-right" 
                          (click)="insertarEcommerce('pantalla3')" 
                          data-bs-dismiss="modal"
                          type="button" 
                          style="border-radius: 5px;color:#FFF; 
                                background-color:#005AD2; 
                                width: 140px;
                                height: 45px;
                                font-size: 18px;" 
                        >
                          FINALIZAR
                        </button>

                      </ng-template>
                      
                      
                  </div>

              </div>

          </form>
            
            
          </div>

        </div>

      </div>



    </div>
  </div>
</div>
