<app-nav></app-nav>
<div class="container">

  <div class="row mt-5 d-flex justify-content-center" 
    *ngIf="statusCarrito !== 0">
    <div class="col-md-8">
      <div class="card card-border p-5">
        <div class="row">
          <div class="col-md-12 mb-2 d-flex justify-content-between">
            <h5><b>Productos en el Carro</b></h5>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h6
              class="px-3 float-end"
              style="cursor: pointer"
              (click)="vaciarcarro()"
            >
              Vaciar Carro
            </h6>
          </div>
          <br />
          <div class="col-12 div0" *ngFor="let item of carrito; let i = index">
            <div class="d-none d-md-block d-lg-block">
              <div
                class="card-articulo d-flex justify-content-center align-items-center"
              >
                <div class="row" style="width: 100%">
                  <div class="col-5">
                    <h6>
                      <!-- <h6 class="px-3 pt-3"><b>Web Hosting</b></h6> -->

                      <h6 class="px-3">{{ item.producto.nombre }}</h6>
                    </h6>
                  </div>

                  <div
                    class="col-6 d-flex justify-content-center align-items-center"
                  >
                    <select
                      class="form-control selectperiododominio"
                      id="0"
                      keyarray="0"
                      [value]="item.periodo"
                      style="width: 50%; margin-right: 20px"
                      (change)="cambiarperiodo(i,$event.target)"
                    >


                    <ng-container *ngFor="let periodo of item.periodos; let j = index">

                      <option

                        [value]="periodo.id_periodo"
                        *ngIf="periodo.id_periodo == item.periodo; else noselect"
                        selected
                      >
                        {{ periodo.periodo }}
                        {{
                          periodo.precio_descuento
                            | currency: "USD":"symbol-narrow":"4.0-0":"es-CL"
                        }}
                      </option>

                      <ng-template #noselect>
                        <option

                        [value]="periodo.id_periodo"
                      >
                        {{ periodo.periodo }}
                        {{
                          periodo.precio_descuento
                            | currency: "USD":"symbol-narrow":"4.0-0":"es-CL"
                        }}
                      </option>
                      </ng-template>


                    </ng-container>


                    </select>
                  </div>

                  <div
                    class="col-1 d-flex justify-content-center align-items-center"
                    (click)="eliminarcarro(i)"
                  >
                    <i
                      class="fas fa-trash-alt deletecard"
                      index="0"
                      data-domain="jesusparra2022.net"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center mt-4">
          <button
            type="button"
            class="btn"
            style="
              background-color: #009900;
              color: #f2f3f5;
              font-weight: bold;
              width: 45%;
            "
            (click)="finalizarcompra()"
          >
            FINALIZAR COMPRA
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <app-detalle-pedido
        [totalcarroarray]="totalcarroarray"
        *ngIf="statusCarrito !== 0"
      ></app-detalle-pedido>
    </div>
  </div>

  <div class="row mt-5 d-flex justify-content-center" *ngIf="statusCarrito === 0">
    <div class="col-md-6">
      <div class="card p-5">
        <div class="row">
          <div class="col-md-12 mb-2 text-center">
            <h2><b>Tu Carro esta Vacio</b></h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div
              class="px-3 d-flex justify-content-center align-items-center"
              style="/*width: 150px;
              height: 150px;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              background: #0d4ec3;*/"
              
            >

              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="80px" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">
              
                <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M0 1230 l0 -29 72 -3 73 -3 29 -110 c16 -60 71 -265 123 -454 l93
                -345 -30 -31 c-51 -53 -53 -126 -4 -184 76 -91 234 -34 234 85 0 25 -5 54 -10
                65 -10 18 -6 19 165 19 l176 0 -12 -22 c-17 -31 -13 -93 8 -128 25 -42 91 -73
                138 -64 100 18 146 139 84 218 -43 55 -53 56 -383 56 l-305 0 -9 33 -8 32 323
                5 323 5 31 31 c27 27 38 60 101 293 57 211 68 264 58 276 -11 13 -84 15 -511
                15 -275 0 -499 2 -499 5 0 17 -65 243 -73 253 -6 8 -39 12 -98 12 l-89 0 0
                -30z m1206 -317 c-3 -10 -30 -115 -61 -233 -32 -118 -64 -223 -73 -232 -14
                -16 -42 -18 -322 -18 -237 0 -310 3 -324 13 -12 9 -39 88 -82 243 -35 126 -64
                232 -64 237 0 4 210 7 466 7 438 0 465 -1 460 -17z m-702 -694 c20 -16 26 -29
                26 -59 0 -44 -35 -80 -77 -80 -34 0 -73 42 -73 80 0 38 39 80 73 80 13 0 36
                -9 51 -21z m581 -4 c45 -44 25 -117 -35 -130 -60 -13 -113 50 -90 106 21 51
                86 64 125 24z"/>
                </g>
                
              </svg>
              <span class="badge bg-white" style="position: relative;top: -18px;left: -15px;color:black;font-size:18px;border:0.1px solid #000000;">0</span>
 
            </div>

          </div>
          <div class="col-12 mt-3 text-center">
            <a routerLink="/"
              class="btn"
              style="
                background-color: #005ad2;
                color: #f2f3f5;
                font-weight: bold;
              "
            >
            Agregar productos

            <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px">
              <path fill="#FFF" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z"/>
            </svg>
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<br /><br /><br /><br /><br />
<app-footer></app-footer>
