<div class="card card-border p-3">
  <div class="row px-3">
    <div class="col-md-12 mb-2">
      <h5 id="invalidDominio">
        <b>{{ dominionum }}. Elije tu dominio</b>
      </h5>
      
    </div>
    <span
      class="badge"
      style="width: 100px; background-color: #00cd34; border-radius: unset"
      >1 año gratis</span
    >
    <div
      class="col-md-12 card card-border p-3"
      data-opc="nuevodominio"
      style="border: 1.3px solid #999999; cursor: pointer"
    >
      <div class="col-md-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="opcdominio"
            id="nuevodominio"
            (change)="nuevodominio()"
            [checked]="haydominios"
          />
          <label class="form-check-label" for="nuevodominio">
            Quiero registrar un nuevo dominio
          </label>
        </div>
      </div>

      <div
        class="col-md-12"
        [ngClass]="{ 'd-none': mostrar == 0 && !haydominios}"
        data-opc="table-nuevodominio"
      >
        <form class="pt-3" id="" [formGroup]="form">
          <div class="row">
            <div
              class="col-md-2 col-2 d-flex align-items-end justify-content-end p-0"
            >
              <div class="form-group">
                <h5>www.&nbsp;</h5>
              </div>
            </div>

            <div class="col-md-6 col-6 px-0">
              <div class="form-group">
                <input
                  class="input__field_dominio"
                  type="text"
                  placeholder=" "
                  id="dominio"
                  formControlName="dominio"
                  (change)="limpiarinput()"
                />
              </div>
            </div>

            <div class="col-md-2 col-2 px-0">
              <div class="form-group contenedor-extension-dominio">
                <select
                  class="input__field_exten"
                  formControlName="extension"
                >
                  <option value="cl">.cl</option>

                  <option value="com">.com</option>

                  <option value="net">.net</option>

                  <option value="info">.info</option>

                  <option value="org">.org</option>

                </select>
              </div>
            </div>

            <div class="col-md-2 col-2 d-flex align-items-center">
              <button
                type="button"
                class="btn"
                id="busqueda"
                [disabled]="form.invalid"
                (click)="buscardominio()"
                style="
                  background-color: #005ad2;
                  color: #f2f3f5;
                  font-weight: bold;
                  width: 100%;
                  font-size: 14px;
                "
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Buscar
              </button>
            </div>

            <div class="col-md-12 col-12 text-center">
              <small class="text-danger" *ngIf="errorDominio"
                ><b>Debes ingresar algún dominio</b></small>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-12" data-opc="table2-nuevodominio">
        <div class="row" *ngFor="let dominio of dominioscarrito">
          <div class="d-flex" *ngIf="dominio.producto.subcategoria_id == 31">
            <div class="col-md-8">

              <h6 class="px-3 pt-3">
                <b>Dominio agregado</b>
                <i class="ms-2 far fa-check-circle" style="color: #32cb00"></i>
              </h6>

              <h6 class="row px-3">
                <div class="col-md-6">
                  {{ dominio.dominio }}
                </div>
                <div class="col-md-6">
                  <button
                      type="button"
                      (click)="eliminardominio(dominio.dominio)"
                      class="btn btn-outline-dark btn-edit ms-2"
                  >
                    eliminar <i class="ms-2 far fa-trash-alt"></i>
                  </button>
                </div>




              </h6>

            </div>

            <div class="col-md-4">
              <h6 class="px-3 pt-3">
                <b>1er año: </b>
                <span style="text-decoration: line-through"
                  >
                  CLP</span
                >
                Gratis
              </h6>

              <h6 class="px-3">
                <b
                  >Renovación:

                  CLP
                </b>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row px-3 mt-3">
    <div
      class="col-md-12 card card-border p-3"
      data-opc="dominioexistente"
      style="border: 1.3px solid #999999; cursor: pointer"
    >
      <div class="col-md-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="opcdominio"
            id="dominioexistente"
            (change)="dominioold()"
            [checked]="dominioguardado"
          />
          <label class="form-check-label" for="dominioexistente">
            Quiero usar un dominio que ya tengo registrado
          </label>
        </div>
      </div>

      <div
        class="col-md-12"
        
        [ngClass]="mostrarold == 0 && !dominioguardado ? 'd-none' : ''"
        data-opc="table-dominioexistente"
      >
        <form class="pt-3" id="" [formGroup]="form2">
          <div class="row" *ngIf="!dominioguardado">
            <div
              class="col-md-2 col-2 d-flex align-items-end justify-content-end p-0"
            >
              <div class="form-group">
                <h5>www.&nbsp;</h5>
              </div>
            </div>

            <div class="col-md-6 col-6 px-0">
              <div class="form-group">
                <input
                  class="input__field_dominio"
                  type="text"
                  placeholder=" "
                  id="dominio"
                  formControlName="dominio"
                  (change)="limpiarinput()"
                />
              </div>
            </div>

            <div class="col-md-2 col-2 px-0">
              <div class="form-group contenedor-extension-dominio">
                <select
                  class="input__field_exten"
                  formControlName="extension"
                >
                  <option value="cl">.cl</option>

                  <option value="com">.com</option>

                  <option value="net">.net</option>

                  <option value="info">.info</option>

                  <option value="org">.org</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-2 d-flex align-items-center">
              <button
                type="button"
                class="btn"
                id="guardardominio"
                [disabled]="form2.invalid"
                (click)="guardardominio()"
                style="
                  background-color: #005ad2;
                  color: #f2f3f5;
                  font-weight: bold;
                  width: 100%;
                  font-size: 14px;
                "
              >
                Guardar
              </button>
            </div>

            <div class="col-md-12 col-12 text-center">

              <small class="text-danger" *ngIf="errorDominio"
                ><b>Debes ingresar algún dominio</b></small>

            </div>
          </div>
          <div class="row" *ngIf="dominioguardado">
            <div class="col-md-7">
              <h6 class="px-3 pt-3">
                <b>Dominio agregado</b>
                <i class="ms-2 far fa-check-circle" style="color: #32cb00"></i>
              </h6>
              <h6 class="px-3">
                {{ dominioguardado }}
                <button
                  type="button"
                  (click)="limpiarDomGuardado()"
                  class="btn btn-outline-dark btn-edit ms-2"
                >
                  cambiar dominio
                  <i class="ms-2 far fa-edit"></i>
                </button>
              </h6>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal-dominio
  [dominios]="dominios"
  [dominiobuscado]="dominiobuscado"
  [statusDominioBuscado] = "statusDominioBuscado"
  (totalcarro)="totalcarrodomain($event)"
  (dominioscarrito)="uptlistdominios($event)"
  [dominiosencarrito]="dominioscarrito"
></app-modal-dominio>
<!-- Modal -->
