<app-nav></app-nav>

<div class="container">
    
    <!-- <div class="row mt-5">
        <div class="col-md-12">
            <hr class="hr_title" />
        </div>
    </div> -->

        <div class="mt-5 row d-flex justify-content-center">
            <div class="col-md-6 col-sm-12 col-12">
              <div class="card p-5">
                <div class="row">
                  <div class="col-md-12 mb-2 text-center">
                    <h2 class="azul-crt"><b>Algo salio mal</b></h2>
                    <h6>Tu pago ha sido rechazado, por favor intenta de nuevo o llamanos.</h6>
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <div class="px-3 d-flex justify-content-center align-items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="80px" viewBox="0 0 496 512">
                        <g fill="#005ad2" stroke="none">  
                            <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm-80-216c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160-64c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm-80 128c-40.2 0-78 17.7-103.8 48.6-8.5 10.2-7.1 25.3 3.1 33.8 10.2 8.4 25.3 7.1 33.8-3.1 16.6-19.9 41-31.4 66.9-31.4s50.3 11.4 66.9 31.4c8.1 9.7 23.1 11.9 33.8 3.1 10.2-8.5 11.5-23.6 3.1-33.8C326 321.7 288.2 304 248 304z"/>
                        </g>
                    </svg>
      
                    </div>
      
                  </div>
                  <div class="col-12 mt-3 text-center">
                    <a routerLink="/"
                      class="btn"
                      style="
                        background-color: #005ad2;
                        color: #f2f3f5;
                        font-weight: bold;
                      "
                    >
                    Regresar al Inicio
      
                    <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px">
                      <path fill="#FFF" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z"/>
                    </svg>
                    </a>
      
                  </div>
                </div>
              </div>
      
            </div>
        </div>

</div>

<br /><br /><br /><br /><br />

<app-footer></app-footer>
