<app-nav></app-nav>

<div class="container" style="min-height: calc(100vh - 70px - 90px)">

    <div class="container-min">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="azul-crt">Política de calidad</h1>
                <hr class="hr_title" />
            </div>
        </div>
        
        <div class="row d-flex justify-content-center">
        
            <div class="col-md-12 mt-2">
                    
                <p>Creattiva Datacenter SPA. se enfoca desde sus inicios, a la entrega
                   de soluciones de hosting y servicios de alta calidad y confiabilidad, 
                   junto a una atención de excelencia basada en la relación de cercanía 
                   que establece con sus clientes, lo que ha permitido resolver de forma 
                   ágil y oportuna cualquier requerimiento que pudiera presentarse. 
                   Establece esta Política de Calidad en la que se compromete a:</p>
                    
                <ol>
        
                    <li dir="ltr">Brindar servicios y tecnologías de alta calidad.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Considerar la calidad de sus procesos y productos, así como el cumplimiento de las necesidades y expectativas de sus clientes son fundamentales para asegurar la permanencia en el mercado.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Asegurar que las personas que integran nuestro equipo de trabajo tengan las competencias necesarias en base a educación, formación, experiencia y/o habilidades.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Revisar continuamente la eficacia de nuestro sistema de gestión de calidad y realizar las mejoras que sean necesarias para lograr la satisfacción de nuestros clientes, así como la mejora continua del sistema mismo.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Brindar apoyo al usuario mediante la atención cordial a sus consultas y orientación, como también la atención de sus reclamos y el posterior tratamiento de los mismos.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Hacer bien las cosas, agilizando las acciones y las soluciones, promoviendo el cambio y la mejora de procesos.<br>
                    <br>
                    </li>
                    
                    <li dir="ltr">Aprovechar las oportunidades de mejora en avances tecnológicos que puedan presentarse.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Capacitar y promover las competencias del equipo.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Cumplir los requerimientos al 100% de nuestros clientes.<br>
                    <br>
                    </li>
        
                    <li dir="ltr">Apoyar todo lo anterior en un sistema de Gestión de la Calidad basado en la norma ISO9001:2015.</li>
                
                </ol>
        
                <p>Creattiva Datacenter SPA. realiza las labores establecidas en marcos 
                   legales y reglamentarios aplicables, haciendo énfasis en la transparencia,
                   honestidad, la veracidad, la ética y las buenas comunicaciones con clientes
                   y trabajadores.</p>
                    
                <p>De esta forma, Creattiva Datacenter SPA. &nbsp;se compromete a cumplir los
                   requisitos del cliente y a mejorar continuamente la eficacia de su Sistema de Gestión.</p>
                    
                <br />
                    
                <br />
                    
                <strong>JOSÉ MIGUEL MONTALVA ALVAREZ</strong><br>
                    
                <strong>Gerente General</strong><br>
                    
                <strong>Creattiva Datacenter SPA</strong>
        
            </div>
        
        </div>
    </div>

</div>


<br /><br /><br /><br /><br />

<app-footer></app-footer>

