<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h6><b>SELECCIONASTE EL PLAN</b></h6>
      <h1 class="azul-crt">{{producto.nombre}}</h1>
      <hr class="hr_title" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <app-dominio></app-dominio>

      <app-periodo [periodos] = "periodos" (totalcarro)="totalcarro($event)"></app-periodo>

      <div class="row">
        <div class="col-md-12 text-center mt-4">
          <button
            type="button"
            class="btn"
            style="
              background-color: #005ad2;
              color: #f2f3f5;
              font-weight: bold;
              width: 45%;
            "
          >
            Continuar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-detalle-pedido [totalcarroarray]="totalcarroarray"></app-detalle-pedido>
    </div>

  </div>
</div>


