<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h6><b>SELECCIONASTE EL PLAN</b></h6>
      <h1 class="azul-crt">{{ producto.nombre }}</h1>
      <hr class="hr_title" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <app-dominio *ngIf="
      producto.subcategoria_id == 1 ||
      producto.subcategoria_id == 6 ||
      producto.subcategoria_id == 7 ||
      producto.subcategoria_id == 8 ||
      producto.subcategoria_id == 9 ||
      producto.subcategoria_id == 10
    " (totalcarrod)="totalcarro($event)" [dominionum] = "dominionum"></app-dominio>

      <app-vps
        *ngIf="
          producto.subcategoria_id == 6 ||
          producto.subcategoria_id == 7 ||
          producto.subcategoria_id == 8 ||
          producto.subcategoria_id == 9 ||
          producto.subcategoria_id == 10
        "
        [sistemaOperativo] = "sistemaOperativo"
        (totalcarrovps)="totalcarro($event)"
      ></app-vps>

      <app-periodo
        [periodos]="periodos"
        [periodonum]="periodonum"
        (totalcarro)="totalcarro($event)"
      ></app-periodo>

      <div class="row">
        <div class="col-md-12 text-center mt-4">
          <button
            type="button"
            class="btn"
            style="
              background-color: #005ad2;
              color: #f2f3f5;
              font-weight: bold;
              width: 45%;
            "
          >
            Continuar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-detalle-pedido
        [totalcarroarray]="totalcarroarray"
      ></app-detalle-pedido>
    </div>
  </div>
</div>
