<app-nav></app-nav>

<div class="container">


    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="azul-crt">Formas de Pago</h1>
            <hr class="hr_title" />
        </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-12 p-1">

        <div class="row shadow-sm m-1 p-3 mb-5 bg-body rounded h-100">

            <div class="col-md-12 text-center"><a href="https://www.bancochile.cl/" target="blank_">

                <img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/314_351imagen_galeria.png" style="max-width:55%" /></a>
            
            </div>

            <div class="col-md-12">

                <p>

                    <span>Para realizar una transferencia electr&oacute;nico o dep&oacute;sito bancario, puedes usar los siguientes datos:</span>
              
                </p>

                <p>

                    <span><strong><u>Banco de Chile</u></strong></span>

                    <br />
                    Titular: Creattiva Datacenter SPA
                    <br />
                    Rut: 77.617.950-7
                    <br />
                    Tipo de cuenta: cuenta corriente
                    <br />
                    N&deg; de cuenta: 145-03106-03
                    <br />
                    Notificar pago: facturacion@creattiva.cl
                    
              </p>

            </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 p-1">
        
        <div class="shadow-sm m-1 p-3 mb-5 bg-body rounded h-100">

            <div class="row">

                <div class="col-md-12 text-center">
                    
                    <h3 class="azul-crt">Recuerda notificar tu pago</h3>

                    <br>
                
                </div>
            
                <div class="col-md-12">
                    
                    <p>
                        Al realizar la transferencia, el usuario deber&aacute; notificar el pago a facturacion@creattiva.cl , con el comprobante de la instituci&oacute;n bancaria correspondiente. No realizar esta acci&oacute;n podr&iacute;a provocar un desajuste que posiblemente derive en la suspensi&oacute;n de sus servicios.
                    </p>

                    <div class="row">
                        
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-4 text-center" style="text-align: justify;">

                                    <a href="https://www.bancochile.cl/" target="blank_">
                                        <img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/324_351imagen_galeria.png" style="max-width:100%" />
                                    </a>

                                </div>

                                <div class="col-md-4 text-center">
                                    
                                    <a href="https://www.bancoestado.cl/" target="blank_">
                                        
                                        <img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/325_351imagen_galeria.png" style="max-width:100%" />
                                    
                                    </a>

                                </div>

                                <div class="col-md-4 text-center">
                                    
                                    <a href="https://www.bci.cl/" target="blank_">
                                        
                                        <img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/326_351imagen_galeria.png" style="max-width:100%" />
                                    
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>
                    
                </div>

            </div>
            
            <div class="row">
            
              <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-center"><a href="https://www.bice.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/327_351imagen_galeria.png" style="max-width:100%" /></a>
                        </div>
                        <div class="col-md-4 text-center"><a href="https://www.corpbanca.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/328_351imagen_galeria.png" style="max-width:100%" /></a>
                        </div>
                        <div class="col-md-4 text-center"><a href="https://www.santander.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/329_351imagen_galeria.png" style="max-width:100%" /></a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
            
              <div class="col-md-10">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4 text-center"><a href="https://www.bancoedwards.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/330_351imagen_galeria.png" style="max-width:100%" /></a>
                    </div>
                    <div class="col-md-4 text-center"><a href="https://bancosecurity.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/331_351imagen_galeria.png" style="max-width:100%" /></a>
                    </div>
                    <div class="col-md-4 text-center"><a href="https://www.scotiabankchile.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/332_351imagen_galeria.png" style="max-width:100%" /></a>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="row">
            
              <div class="col-md-10">
            
                <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4 text-center"><a href="https://banco.itau.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://www.creattiva.cl/bancos/banco-itau.png" style="max-width:100%" /></a>
                        </div>
                        <div class="col-md-4 text-center"><a href="https://www.bancofalabella.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://www.creattiva.cl/bancos/banco-falabella.png" style="max-width:100%" /></a>
                        </div>
                        <div class="col-md-4 text-center"><a href="https://www.bancoripley.cl/" target="blank_"><img class="opacidad imgsaturada" src="https://www.creattiva.cl/bancos/banco-ripley.png" style="max-width:100%" /></a>
                        </div>
                      </div>
                    </div>
                </div>
               
              </div>
            </div>
        </div>

      </div>

      <div class="col-md-6 col-sm-12 p-1">
        
        <div class="row shadow-sm m-1 p-3 mb-5 bg-body rounded h-100">
            <div class="col-md-12 text-center"><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/317_351imagen_galeria.png" style="max-width:55%;margin-top: 20px;" />
            </div>
            <div class="col-md-12">
              <p><span style="font-size:18px;">Plataforma de transacciones en l&iacute;nea administrada por Transbank. Webpay es uno de los medios de pago m&aacute;s populares en Chile, y permite recibir pagos con tarjeta de cr&eacute;dito, RedCompra, tarjetas prepagadas y transferencia electr&oacute;nicas de la gran mayor&iacute;a de bancos nacionales.&nbsp;</span>
              </p>
              <p>&nbsp;
              </p>
              <p class="activacion">Activacion inmediata
              </p>
            </div>
        </div>

      </div>

      <div class="col-md-6 col-sm-12 p-1">
        
        <div class="row shadow-sm m-1 p-3 mb-5 bg-body rounded h-100">
            <div class="col-md-12 text-center" ><img class="opacidad imgsaturada" src="https://admin.creattiva.cl/imagenes/galeria/319_351imagen_galeria.png" style="max-width:55%;margin-top: 20px" />
            </div>
            <div class="col-md-12">
              <p><span style="font-size:18px;">PayPal es una plataforma de pago de origen estadounidense, dise&ntilde;ada especialmente para realizar compras internacionales o con monedas extranjeras (d&oacute;lares, por ejemplo). Este m&eacute;todo de pago, permite a sus usuarios no compartir informaci&oacute;n financiera con su destinatario.&nbsp;</span>
              </p>
              <p>&nbsp;
              </p>
              <p class="activacion">Activacion inmediata
              </p>
            </div>
        </div>

      </div>

    </div>

    <div class="row">

      

    </div>
  </div>


<br /><br /><br /><br /><br />

<app-footer></app-footer>

