

<nav
class="navbar navbar-expand-lg navbar-light"
style="
  background: linear-gradient(
    to right,
    rgb(11, 11, 139) 0%,
    rgb(14, 119, 229) 100%
  );
"
>
<div class="container p-0">
  <a class="navbar-brand" href="/">

    <img
      alt=""
      class="img-fluid"
      src="../../../../assets/img/logoWeb.webp"
      width="100%"
    />
  </a>

  <!--
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
-->

<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

<app-buscador></app-buscador>

  <!--
    <div
      class="d-flex justify-content-center"
      style="width: 70%; max-width: 550px"
      [formGroup]="form"
    >
    
      <div class="input-group">
        <input
          class="form-control"
          type="search"
          placeholder="¿Qué Buscas?"
          aria-label="¿Qué Buscas?"
          formControlName="textobuscar"
          style="
            border: unset;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          "
        />

        <div class="input-group-prepend">
          <span class="input-group-text" id="btn-search">
            <i
              class="fas fa-search"
              style="font-size: 1.5rem; color: #000; cursor: pointer"
              (click)="busquedageneral()"
            ></i>
          </span>
        </div>
      </div>


    </div>

  -->

    <div class="d-flex align-items-center">
      <h6 style="color: #fff" class="me-4">FINALIZAR COMPRA</h6>
      <a routerLink="/carrito">
        <svg
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="40px"
        viewBox="0 0 128.000000 128.000000"
        preserveAspectRatio="xMidYMid meet"
      >
        <g
          transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
          fill="#FFF"
          stroke="none"
        >
          <path
            d="M0 1230 l0 -29 72 -3 73 -3 29 -110 c16 -60 71 -265 123 -454 l93
      -345 -30 -31 c-51 -53 -53 -126 -4 -184 76 -91 234 -34 234 85 0 25 -5 54 -10
      65 -10 18 -6 19 165 19 l176 0 -12 -22 c-17 -31 -13 -93 8 -128 25 -42 91 -73
      138 -64 100 18 146 139 84 218 -43 55 -53 56 -383 56 l-305 0 -9 33 -8 32 323
      5 323 5 31 31 c27 27 38 60 101 293 57 211 68 264 58 276 -11 13 -84 15 -511
      15 -275 0 -499 2 -499 5 0 17 -65 243 -73 253 -6 8 -39 12 -98 12 l-89 0 0
      -30z m1206 -317 c-3 -10 -30 -115 -61 -233 -32 -118 -64 -223 -73 -232 -14
      -16 -42 -18 -322 -18 -237 0 -310 3 -324 13 -12 9 -39 88 -82 243 -35 126 -64
      232 -64 237 0 4 210 7 466 7 438 0 465 -1 460 -17z m-702 -694 c20 -16 26 -29
      26 -59 0 -44 -35 -80 -77 -80 -34 0 -73 42 -73 80 0 38 39 80 73 80 13 0 36
      -9 51 -21z m581 -4 c45 -44 25 -117 -35 -130 -60 -13 -113 50 -90 106 21 51
      86 64 125 24z"
          />
        </g>
      </svg>
      <span class="badge bg-white" style="position: relative;top: -12px;left: -8px;color:black;">{{DominiosService.totalCarro}}</span>
      </a>

    </div>
  </div>
</div>
</nav>

<div class="submenu">
<div class="container">
  <ul class="d-flex flex-row-reverse bd-highlight mb-0">
    <li class="p-2 bd-highlight d-flex align-items-center">
      <a [routerLink]="logueado ? '/sucursal': '/login-sucursal' ">
        <img src="../../../../assets/img/icon-user.webp" width="20px;" />
      </a>
    </li>

    <li>
      <hr class="hr-submenu" />
    </li>

    <li class="p-2 bd-highlight d-flex align-items-center">
      <a href="/">Soporte</a>
    </li>

    <li>
      <hr class="hr-submenu" />
    </li>

    <li class="p-2 bd-highlight d-flex align-items-center">
      <a href="/">Ventas</a>
    </li>

    <li>
      <hr class="hr-submenu" />
    </li>

    <li class="p-2 bd-highlight d-flex align-items-center">
      <a href="/"><span> Cotiza Online</span></a>
    </li>

    <li class="p-2 bd-highlight d-flex align-items-center">
      <img src="../../../../assets/img/icon-telefono.webp" width="28px;" />

      <span style="font-size: 22px; color: #0d4ec3; font-weight: bold"
        >+5629999999</span
      >
    </li>
  </ul>
</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-principal">
    <div class="w-100 d-flex justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item pe-3 ps-3" *ngFor="let categoria of categorias; let i=index" style="cursor: pointer;">


          <a class="btn-nav nav-link item-menu" [ngClass]="{'item-active':categoria.active}" routerLinkActive="item-active" (click)="buscarsubcategoria(categoria.id_categoria)" (click)="activar(i)"
            >{{categoria.nombre}}</a
          >


        </li>
        <li class="nav-item pe-3 ps-3">
          <a class="btn-nav nav-link item-menu">Contactenos</a>
        </li>

        <li class="nav-item pe-3 ps-3">
          <a class="btn-nav nav-link item-menu">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>

<div
id="carouselExampleCaptions"
class="carousel slide"
data-bs-ride="carousel"
>
<div class="carousel-indicators">
  <button
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide-to="0"
    class="active"
    aria-current="true"
    aria-label="Slide 1"
  ></button>

  <button
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide-to="1"
    aria-label="Slide 2"
  ></button>

  <button
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide-to="2"
    aria-label="Slide 3"
  ></button>
</div>

<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="../../../../assets/img/fondo-slider.webp" class="d-block w-100" alt="..." />

    <div class="contenido-slider">
      <h1>Somos la conexión de tu sitio web con el mundo.</h1>

      <p>
        Antes de escribir tu primera publicación, compartir tu primera foto o
        vender tu primer producto, tu sitio web debe estar en línea.
      </p>

      <button
        type="button"
        class="btn p-1 mt-4 btnslider"
        idproducto=""
        data-toggle="modal"
        data-target="#modalDatos"
      >
        Ir a Planes
      </button>
    </div>
  </div>

  <div class="carousel-item">
    <img src="../../../../assets/img/fondo-slider.webp" class="d-block w-100" alt="..." />

    <div class="contenido-slider">
      <h1>Somos la conexión de tu sitio web con el mundo.</h1>

      <p>
        Antes de escribir tu primera publicación, compartir tu primera foto o
        vender tu primer producto, tu sitio web debe estar en línea.
      </p>

      <button
        type="button"
        class="btn p-1 mt-4 btnslider"
        idproducto=""
        data-toggle="modal"
        data-target="#modalDatos"
      >
        Ir a Planes
      </button>
    </div>
  </div>

  <div class="carousel-item">
    <img src="../../../../assets/img/fondo-slider.webp" class="d-block w-100" alt="..." />

    <div class="contenido-slider">
      <h1>Somos la conexión de tu sitio web con el mundo.</h1>

      <p>
        Antes de escribir tu primera publicación, compartir tu primera foto o
        vender tu primer producto, tu sitio web debe estar en línea.
      </p>

      <button
        type="button"
        class="btn p-1 mt-4 btnslider"
        idproducto=""
        data-toggle="modal"
        data-target="#modalDatos"
      >
        Ir a Planes
      </button>
    </div>
  </div>
</div>

<button
  class="carousel-control-prev"
  type="button"
  data-bs-target="#carouselExampleCaptions"
  data-bs-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>

  <span class="visually-hidden">Previous</span>
</button>

<button
  class="carousel-control-next"
  type="button"
  data-bs-target="#carouselExampleCaptions"
  data-bs-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>

  <span class="visually-hidden">Next</span>
</button>
</div>
<!-- Aqui componentes de categorias y planes -->

<br><br>

<div class="container" #subfoco>


    <app-caracteristicas  [subcategorias]="subcategorias" (getproducto)="obtenerproductos($event)" ></app-caracteristicas>

    <br>

    <app-planes [productos]="productos" ></app-planes>



</div>

<!-- Aqui componentes de categorias y planes -->


<div class="section-quehacer pt-5 pb-5" style="background-color: #f3f4f8;">

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1 class="title-section text-center">¿Qué quieres hacer?</h1>

      <h4 class="text-center">Cuéntanos de tu proyecto, tenemos soluciones que se</h4>

      <h4 class="text-center">adaptan a tus requerimientos.</h4>

    </div>

  </div>

  <div class="row mt-4">

    <div class="col-md-3 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-sitiohtml.webp">

      </div>

      <h1>Sitio HTML</h1>

    </div>

    <div class="col-md-3 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-blog.webp">

      </div>

      <h1>Blog</h1>

    </div>

    <div class="col-md-3 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-ecommerce.webp">

      </div>

      <h1>E-commerce</h1>

    </div>

    <div class="col-md-3 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-aplicacion.webp">

      </div>

      <h1>Aplicación</h1>

    </div>

  </div>

</div>

</div>

<div class="section-soporte" style="background-color: #0054ce;">

<div class="container-fluid">

  <div class="row">

    <div class="col-md-7">

      <div class="container" style="height: 100%;padding-left: 120px;padding-right: 30px;">

        <br>

        <div class="mt-3">

          <div class="d-flex mb-3">

            <img src="../../../../assets/img/icono-soporte.webp">

            <h4 class="align-self-end ml-3" style="color:#FFF;">Soporte 24/7</h4>

          </div>

          <p class="title-section" style="line-height: 1;color:black;">
            Estamos contigo<br>
            en todo momento
          </p>

          <p style="color:#FFF;">
            Queremos que logres tus metas. Ofrecemos asistencia telefónica y digital las 24 horas del día a través de nuestros expertos.
          </p>

        </div>

        <br><br>

      </div>

    </div>

    <div class="col-md-5 p-0" >

      <img src="../../../../assets/img/img-soporte.webp" style="width: 100%!important;position: relative;">

    </div>

  </div>

</div>

</div>

<div class="section-elegirnos pt-5 pb-5">

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1 class="title-section text-center" style="color:black;">¿Por qué elegirnos?</h1>

    </div>

  </div>

  <div class="row mt-5">

    <div class="col text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-alta-disponibilidad.webp">

      </div>

      <h6>Alta Disponibilidad</h6>

      <p class="text-left">Contamos con un 99.9% de Uptime, asegurando así la estabilidad de su servicio.</p>

    </div>

    <div class="col text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-certificado-ssl.webp">

      </div>

      <h6>Certificado SSL Gratis</h6>

      <p class="text-left">Brinda seguridad a tu sitio y a los visitantes de tu página web con el certificado más prestigioso.</p>

    </div>

    <div class="col text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-proteccion-malware.webp">

      </div>

      <h6>Protección Malware</h6>

      <p class="text-left">Protegemos tus datos y los de tus visitantes de amenazas informáticas.</p>

    </div>

    <div class="col text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-disco-ssd.webp">

      </div>

      <h6>Disco SSD</h6>

      <p class="text-left">Contamos con tecnología de discos sólidos para un mayor performance.</p>

    </div>

    <div class="col text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-soporte2.webp">

      </div>

      <h6>Soporte 24/7/365</h6>

      <p class="text-left">Contamos con un equipo de expertos para resolver tus dudas.</p>

    </div>

  </div>

  <br>

</div>

</div>

<footer>

<div class="container">

  <div class="row pt-5 row-footer">

    <div class="col-md-3">

      <ul class="options_footer">

        <li>Mesa Central : (+562)2244 2488</li>

        <li>Soporte Técnico : soporte@creattiva.cl</li>

        <li>Atención de lunes a viernes de : 09:00 a 18:00 Hrs</li>

        <li>Premio Nobel # 2931 - Macul Santiago - Chile</li>

      </ul>

    </div>
    <div class="col-md-2">

      <ul class="options_footer">

        <li>Politicas de calidad</li>

        <li>Terminos y Condiciones</li>

        <li>Soporte</li>

        <li>Preguntas Frecuentes</li>

      </ul>

    </div>

    <div class="col-md-2">

      <ul class="options_footer">

        <li>Datacenter</li>

        <li>Housing</li>

        <li>Hosting</li>

        <li>Servidores VPS</li>

        <li>Servidores</li>

        <li>Licencias de Microsoft</li>

        <li>Microsoft 365</li>

        <li>G-suite</li>

      </ul>

    </div>

    <div class="col-md-1">

      <ul class="options_footer">

        <li>Blog</li>

        <li>Mi ip</li>

        <li>Mapa de sitio</li>

      </ul>

    </div>

    <div class="col-md-2">

      <ul class="options_footer">

        <li>Formas de pago</li>

        <li>Notificar Pago</li>

      </ul>

    </div>

    <div class="col-md-2">

      <img src="../../../../assets/img/pago-seguro.png">

    </div>

  </div>

  <div class="row mt-2 pb-3">

    <div class="col-md-3">

      <p>Unete al equipo Creattiva Datacenter</p>

    </div>

    <div class="col-md-3">

      <p>Newsletter Creattiva</p>

      <div class="input-group">

          <input class="form-control" type="search" placeholder="Ingresa tu email" aria-label="Ingresa tu email" style="border:unset;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">

          <div class="input-group-prepend">

            <span class="input-group-text" id="btn-search">

              <i class="fas fa-chevron-right" style="font-size: 1.5rem;color:#1a1a1a;cursor: pointer;"></i>

            </span>

          </div>

        </div>

    </div>

    <div class="col-md-3">

      <p>Soporte Emergencias 24/7</p>

    </div>

    <div class="col-md-3 d-flex">

      <p>Síguenos&nbsp;&nbsp;</p>

      <div class="float-left">

        <img src="https://creattiva.cl/img-footer/Linkedin.png">

        <img src="https://creattiva.cl/img-footer/Twitter.png">

        <img src="https://creattiva.cl/img-footer/Facebook.png">

        <img src="https://creattiva.cl/img-footer/Instagram.png">

        <img src="https://creattiva.cl/img-footer/Youtube.png">

      </div>

    </div>

  </div>

</div>

</footer>


