<nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block d-md-block" style="background: linear-gradient(to right, rgb(11, 11, 139) 0%, rgb(14, 119, 229) 100%);">

  <div class="container">

    <div class="row" style="width: 100%;">

      <div class="col-md-4">

        <a class="navbar-brand" href="/">

          <img alt="" class="img-fluid" src="../../../../assets/img/logoWeb.webp" width="260px" />

        </a>

      </div>

      <div class="col-md-4 d-flex align-items-center">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <div class="w-100">
            <app-buscador></app-buscador>
          </div>

        </div>

      </div>

      <div class="col-md-3 d-flex justify-content-end align-items-center">

          <a routerLink="/carrito" class="d-flex align-items-center" style="text-decoration: none;" *ngIf="DominiosService.totalCarro>0">

            <h6 style="color: #fff;" class="me-4">FINALIZAR COMPRA</h6>

          </a>

          <a routerLink="/carrito">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="40px" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

              <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
              fill="#FFF" stroke="none">
              <path d="M0 1230 l0 -29 72 -3 73 -3 29 -110 c16 -60 71 -265 123 -454 l93
              -345 -30 -31 c-51 -53 -53 -126 -4 -184 76 -91 234 -34 234 85 0 25 -5 54 -10
              65 -10 18 -6 19 165 19 l176 0 -12 -22 c-17 -31 -13 -93 8 -128 25 -42 91 -73
              138 -64 100 18 146 139 84 218 -43 55 -53 56 -383 56 l-305 0 -9 33 -8 32 323
              5 323 5 31 31 c27 27 38 60 101 293 57 211 68 264 58 276 -11 13 -84 15 -511
              15 -275 0 -499 2 -499 5 0 17 -65 243 -73 253 -6 8 -39 12 -98 12 l-89 0 0
              -30z m1206 -317 c-3 -10 -30 -115 -61 -233 -32 -118 -64 -223 -73 -232 -14
              -16 -42 -18 -322 -18 -237 0 -310 3 -324 13 -12 9 -39 88 -82 243 -35 126 -64
              232 -64 237 0 4 210 7 466 7 438 0 465 -1 460 -17z m-702 -694 c20 -16 26 -29
              26 -59 0 -44 -35 -80 -77 -80 -34 0 -73 42 -73 80 0 38 39 80 73 80 13 0 36
              -9 51 -21z m581 -4 c45 -44 25 -117 -35 -130 -60 -13 -113 50 -90 106 21 51
              86 64 125 24z"/>
              </g>

            </svg>
            <span class="badge bg-white" style="position: relative;top: -12px;left: -8px;color:black;">{{DominiosService.totalCarro}}</span>

          </a>

      </div>

      <div class="col-1">
        <select (change)="changeLang($event.target)" class="form-select">
          <option value="es" [selected]="lang == 'es'">ES</option>
          <option value="en" [selected]="lang == 'en'">EN</option>

        </select>
      </div>

    </div>

  </div>

</nav>

<header class="d-sm-block d-md-none d-lg-none menu-movil">


  <!--top menú-->
	<div class="top-menu-principal fixed-top">

		<button class="bt-menu-principal float-end" type="button" (click)="menuCategorias(true)">

  			<i class="fas fa-bars px-1"></i>

		</button>

		<button class="bt-menu-search float-end" type="button" (click)="menuSearch()">

  			<i class="{{btnSearch}} me-2"></i>

		</button>


		<a href="/">

      <img class="ms-3 mt-3" alt="" src="../../../../assets/img/logoWeb.webp" width="60%" style="position:absolute;max-width: 190px;" />

    </a>


	</div>

  <!--buscador-->
  <div class="fixed-top" style="margin-top: 60px;z-index: 9999;">
    <div class="container" [@openCloseSearch]="openSearch ? 'open' : 'closed'" style="background: linear-gradient(to right, rgb(11, 11, 139) 0%, rgb(14, 119, 229) 100%);position: relative;">

      <div class="row">

        <div class="col-md-12 px-4 mt-2 mb-4">

          <app-buscador></app-buscador>

        </div>

      </div>


    </div>
  </div>

  <!--carrito y finalizar compra-->
  <div
    *ngIf="DominiosService.totalCarro>0"
    class="fixed-top"
    style="background: linear-gradient(to right, rgb(11, 11, 139) 0%, rgb(14, 119, 229) 100%);
    margin-top: 60px;"
  >

    <div class="container">

      <div class="row">

        <div class="col-md-12 px-4 mt-2 mb-2">

          <div class="d-flex justify-content-between">

            <a class="d-flex align-items-center" style="text-decoration: none;" routerLink="/carrito" *ngIf="DominiosService.totalCarro; else sinproductos1">

              <h6 style="color: #fff" class="me-4">FINALIZAR COMPRA</h6>

            </a>

            <ng-template #sinproductos1>

              <a class="d-flex align-items-center" style="text-decoration: none;visibility: hidden;" routerLink="/carrito">

                <h6 style="color: #fff" class="me-4">FINALIZAR COMPRA</h6>

              </a>

            </ng-template>

            <a routerLink="/carrito">

              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="40px" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                fill="#FFF" stroke="none">
                <path d="M0 1230 l0 -29 72 -3 73 -3 29 -110 c16 -60 71 -265 123 -454 l93
                -345 -30 -31 c-51 -53 -53 -126 -4 -184 76 -91 234 -34 234 85 0 25 -5 54 -10
                65 -10 18 -6 19 165 19 l176 0 -12 -22 c-17 -31 -13 -93 8 -128 25 -42 91 -73
                138 -64 100 18 146 139 84 218 -43 55 -53 56 -383 56 l-305 0 -9 33 -8 32 323
                5 323 5 31 31 c27 27 38 60 101 293 57 211 68 264 58 276 -11 13 -84 15 -511
                15 -275 0 -499 2 -499 5 0 17 -65 243 -73 253 -6 8 -39 12 -98 12 l-89 0 0
                -30z m1206 -317 c-3 -10 -30 -115 -61 -233 -32 -118 -64 -223 -73 -232 -14
                -16 -42 -18 -322 -18 -237 0 -310 3 -324 13 -12 9 -39 88 -82 243 -35 126 -64
                232 -64 237 0 4 210 7 466 7 438 0 465 -1 460 -17z m-702 -694 c20 -16 26 -29
                26 -59 0 -44 -35 -80 -77 -80 -34 0 -73 42 -73 80 0 38 39 80 73 80 13 0 36
                -9 51 -21z m581 -4 c45 -44 25 -117 -35 -130 -60 -13 -113 50 -90 106 21 51
                86 64 125 24z"/>
                </g>

              </svg>
              <span class="badge bg-white" style="position: relative;top: -12px;left: -8px;color:black;">{{DominiosService.totalCarro}}</span>

            </a>


          </div>

        </div>

      </div>

    </div>

  </div>

  <!--nav categorias-->
	<nav class="nav-categorias" [@openCloseCategorias]="openCategorias ? 'open' : 'closed'">

			<div class="top-menu-categoria d-flex justify-content-start">

				<button class="bt-menu-categorias" type="button" (click)="menuCategorias(false)">
		  			<i class="fas fa-times px-2"></i>
				</button>

				<div class="d-flex align-items-center justify-content-center" style="width: 100%;">
					<h5><b>Menú</b></h5>
				</div>

			</div>

			<ul>
				<li *ngFor="let categoria of categorias; let i=index">

					<a class="item-categoria"
            [ngClass]="{'item-active':categoria.active}"
            routerLinkActive="item-active"
            (click)="buscarsubcategoria(categoria.id_categoria)"
            (click)="menuSubcategorias(true)"
            (click)="activar(i)"
          >



            {{categoria.nombre}}

            <i class="fas fa-chevron-right float-end"></i>

          </a>

				</li>

        <li>

					<a class="item-categoria" routerLink="/contacto">Contactenos

            <i class="fas fa-chevron-right float-end"></i>

          </a>

				</li>

        <li>

					<a class="item-categoria">Blog

            <i class="fas fa-chevron-right float-end"></i>

          </a>

				</li>

			</ul>
	</nav>

  <!--nav subcategorias-->
	<nav class="nav-subcategorias" [@openCloseSubcategorias]="openSubcategorias ? 'open' : 'closed'">

			<div class="top-menu-subcategoria d-flex justify-content-start">

				<button class="bt-menu-subcategorias" (click)="menuSubcategorias(false)">
		  			<i class="fas fa-chevron-left px-2"></i>
				</button>

				<div class="d-flex align-items-center justify-content-center" style="width: 100%;">
					<h5><b>Volver al Menú</b></h5>
				</div>

			</div>

			<div class="container-fluid">

        <div class="row d-flex justify-content-center">

          <div class="col-sm-6 col-6 col-md-2 mt-3" *ngFor="let subcategoria of subcategorias; let i=index "  >

            <div
              class="card planes-icon"
              [ngClass]="{'plan-active':subcategoria.active}"
              routerLink="/compra-dominios"
              *ngIf="subcategoria.id_subcategoria == 31; else otrasSubcategorias"
            >
              <i [class]="subcategoria.icono"></i>
              <h5>{{subcategoria.nombre}}</h5>

              <h6><b>Ver planes <i class="fas fa-arrow-right" style="font-size: 14px;"></i></b></h6>

            </div>

            <ng-template #otrasSubcategorias>

            <div
              class="card planes-icon"
              [ngClass]="{'plan-active':subcategoria.active}"
              (click)="seleccionarcategoria(i, subcategoria.id_subcategoria )"
            >

              <i [class]="subcategoria.icono"></i>
              <h5>{{subcategoria.nombre}}</h5>

              <h6><b>Ver planes <i class="fas fa-arrow-right" style="font-size: 14px;"></i></b></h6>

            </div>

            </ng-template>

          </div>

        </div>

			</div>
	</nav>

</header>

<div class="submenu d-none d-lg-block d-md-block">
  <div class="container">
    <ul class="d-flex flex-row-reverse bd-highlight mb-0">
      <li class="p-2 bd-highlight d-flex align-items-center">
        <a [routerLink]="logueado ? '/sucursal': '/login-sucursal' ">
          <img src="../../../../assets/img/icon-user.webp" width="20px;" />
        </a>
      </li>

      <li>
        <hr class="hr-submenu" />
      </li>

      <li class="p-2 bd-highlight d-flex align-items-center">
        <a routerLink="/soporte" class="text-capitalize">{{'soporte' | translate}}</a>
      </li>

      <li>
        <hr class="hr-submenu" />
      </li>

      <li class="p-2 bd-highlight d-flex align-items-center">
        <a routerLink="/contacto" class="text-capitalize">{{'ventas' | translate}}</a>
      </li>

      <li>
        <hr class="hr-submenu" />
      </li>

      <li class="p-2 bd-highlight d-flex align-items-center">
        <a href="/"><span class="text-capitalize"> {{'cotiza online' | translate}}</span></a>
      </li>

      <li class="p-2 bd-highlight d-flex align-items-center">
        <img src="../../../../assets/img/tele-central.webp" style="width: 200px" />

      </li>
    </ul>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block d-md-block">
  <div class="container">

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-principal">
      <div class="w-100 d-flex justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item pe-3 ps-3" *ngFor="let categoria of categorias; let i=index" style="cursor: pointer;">


            <a class="btn-nav nav-link item-menu" [ngClass]="{'item-active':categoria.active}" routerLinkActive="item-active" (click)="buscarsubcategoria(categoria.id_categoria)" (click)="activar(i)"
              >{{categoria.nombre}}</a
            >


          </li>
          <li class="nav-item pe-3 ps-3">
            <a class="btn-nav nav-link item-menu" routerLink="/contacto">Contactenos</a>
          </li>

          <li class="nav-item pe-3 ps-3">
            <a class="btn-nav nav-link item-menu" routerLink="/blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="d-sm-block d-md-none d-lg-none .." [ngStyle]="{'margin-top.px': margintop}">

</div>

<app-carousel></app-carousel>


<!-- Aqui componentes de categorias y planes -->

<br><br>

<div class="container" #subfoco>


    <app-caracteristicas  [subcategorias]="subcategorias" (getproducto)="obtenerproductos($event)" ></app-caracteristicas>

    <div #subfocoplanes></div>
    <br>
    <br class="d-sm-block d-md-none d-lg-none">

    <app-planes [productos]="productos"></app-planes>



</div>

<!-- Aqui componentes de categorias y planes -->


<div class="section-quehacer pt-5 pb-5" style="background-color: #f3f4f8;">

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1 class="title-section text-center text-capitalize">¿{{'que quieres hacer' | translate}}?</h1>

      <h4 class="text-center">Cuéntanos de tu proyecto, tenemos soluciones que se</h4>

      <h4 class="text-center">adaptan a tus requerimientos.</h4>

    </div>

  </div>

  <div class="row mt-4">

    <div class="col-md-3 col-6 col-ms-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-sitiohtml.webp">

      </div>

      <h1>Sitio HTML</h1>

    </div>

    <div class="col-md-3 col-6 col-ms-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-blog.webp">

      </div>

      <h1>Blog</h1>

    </div>

    <div class="col-md-3 col-6 col-ms-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-ecommerce.webp">

      </div>

      <h1>E-commerce</h1>

    </div>

    <div class="col-md-3 col-6 col-ms-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-aplicacion.webp">

      </div>

      <h1>Aplicación</h1>

    </div>

  </div>

</div>

</div>

<div class="section-soporte" style="background-color: #0054ce;">

<div class="container-fluid">

  <div class="row">

    <div class="col-md-7">

      <div class="container" style="height: 100%;">

        <br>

        <div class="mt-3">

          <div class="d-flex mb-3">

            <img src="../../../../assets/img/icono-soporte.webp">

            <h4 class="align-self-end ml-3" style="color:#FFF;">Soporte 24/7</h4>

          </div>

          <p class="title-section" style="line-height: 1;color:black;">
            Estamos contigo<br>
            en todo momento
          </p>

          <p style="color:#FFF;">
            Queremos que logres tus metas. Ofrecemos asistencia telefónica y digital las 24 horas del día a través de nuestros expertos.
          </p>

        </div>

        <br><br>

      </div>

    </div>

    <div class="col-md-5 p-0" >

      <img src="../../../../assets/img/img-soporte.webp" style="width: 100%!important;position: relative;">

    </div>

  </div>

</div>

</div>

<div class="section-elegirnos pt-5 pb-5">

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1 class="title-section text-center" style="color:black;">¿Por qué elegirnos?</h1>

    </div>

  </div>

  <div class="row mt-5 d-flex justify-content-center">

    <div class="col-md-2 col-6 col-sm-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-alta-disponibilidad.webp">

      </div>

      <h6>Alta Disponibilidad</h6>

      <p class="text-left">Contamos con un 99.9% de Uptime, asegurando así la estabilidad de su servicio.</p>

    </div>

    <div class="col-md-2 col-6 col-sm-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-certificado-ssl.webp">

      </div>

      <h6>Certificado SSL Gratis</h6>

      <p class="text-left">Brinda seguridad a tu sitio y a los visitantes de tu página web con el certificado más prestigioso.</p>

    </div>

    <div class="col-md-2 col-6 col-sm-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-proteccion-malware.webp">

      </div>

      <h6>Protección Malware</h6>

      <p class="text-left">Protegemos tus datos y los de tus visitantes de amenazas informáticas.</p>

    </div>

    <div class="col-md-2 col-6 col-sm-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-disco-ssd.webp">

      </div>

      <h6>Disco SSD</h6>

      <p class="text-left">Contamos con tecnología de discos sólidos para un mayor performance.</p>

    </div>

    <div class="col-md-2 col-6 col-sm-6 text-center">

      <div class="cont-img-quehacer">

        <img src="../../../../assets/img/icono-soporte2.webp">

      </div>

      <h6>Soporte 24/7/365</h6>

      <p class="text-left">Contamos con un equipo de expertos para resolver tus dudas.</p>

    </div>

  </div>

  <br>

</div>

</div>

<footer class="footer-home">

<div class="container">

  <div class="row pt-5 row-footer d-flex justify-content-center">

    <div class="col-md-3">

      <!-- <img alt="" class="img-fluid" src="../../../../assets/img/logoWeb.webp" width="260px" /> -->

      <h5 class="mt-3">Atención al cliente</h5>

      <ul class="options_footer mt-1">

        <li>Mesa Central : (+562)2244 2488</li>

        <li>Soporte Técnico : soporte@creattiva.cl</li>

        <li>Atención de lunes a viernes de : 09:00 a 18:00 Hrs</li>

        <li>Premio Nobel # 2931 - Macul Santiago - Chile</li>

      </ul>

    </div>
    <div class="col-md-2">

      <h5 class="mt-3">Creattiva.cl</h5>

      <ul class="options_footer">

        <li ><a routerLink="/politicas-de-calidad">Politicas de calidad</a></li>

        <li><a routerLink="/terminos-y-condiciones">Terminos y Condiciones</a></li>

        <li><a routerLink="/soporte">Soporte</a></li>

        <li><a routerLink="/soporte/faq">Preguntas Frecuentes</a></li>

      </ul>

    </div>

    <div class="col-md-2">

      <h5 class="mt-3">Servicios</h5>

      <ul class="options_footer">

        <li *ngFor="let categoria of categorias; let i=index">

          <a class="item-categoria"
            style="cursor: pointer;"
            (click)="buscarsubcategoria(categoria.id_categoria)"
            (click)="menuSubcategorias(true)"
            (click)="activar(i)"
          >
            
            {{categoria.nombre}}

          </a>
          
        </li>

      </ul>

    </div>

    <div class="col-md-2">

      <h5 class="mt-3">Recursos</h5>

      <ul class="options_footer">

        <li>Blog</li>

        <li><a routerLink="/ip">Mi IP</a></li>

        <li><a routerLink="/formas-de-pago">Formas de pago</a></li>

      </ul>

    </div>

    <div class="col-md-2">

      <h5 class="mt-3">Pagos</h5>

      <img src="../../../../assets/img/pago-seguro.png">

    </div>

  </div>

  <div class="row mt-2 pb-3">

    <div class="col-md-3">

      <p><a routerLink="/postulacion" style="text-decoration: none;color:#FFF;">Unete al equipo Creattiva Datacenter</a></p>

    </div>

    <div class="col-md-3">

      <p>Newsletter Creattiva</p>

      <div class="input-group" [formGroup]="form2">

          <input class="form-control" formControlName="email"  type="text" placeholder="Ingresa tu email" aria-label="Ingresa tu email" style="border:unset;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">

          <div class="input-group-prepend">

            <span class="input-group-text" id="btn-search" (click)="insertNews()">

              <i class="fas fa-chevron-right" style="font-size: 1.5rem;color:#1a1a1a;cursor: pointer;"></i>

            </span>

          </div>

        </div>

    </div>

    <div class="col-md-3">

      <p>Soporte Emergencias 24/7</p>

    </div>

    <div class="col-md-3 d-flex">

      <p>Síguenos&nbsp;&nbsp;</p>

      <div class="float-left">

        <img src="https://creattiva.cl/img-footer/Linkedin.png">

        <img src="https://creattiva.cl/img-footer/Twitter.png">

        <img src="https://creattiva.cl/img-footer/Facebook.png">

        <img src="https://creattiva.cl/img-footer/Instagram.png">

        <img src="https://creattiva.cl/img-footer/Youtube.png">

      </div>

    </div>

  </div>

</div>

</footer>


