<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header" style="border-bottom: 0px; padding-bottom: 0px">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="dominios.length > 0; else preload">
        <div class="row resultados">
          <div class="col-md-12">
            <h4 class="mt-1 text-center titulo-bold" style="font-weight: 600" *ngIf="disponiblebuscado == 1; else nodisponible" >
              <i class="far fa-check-circle" style="color: #32cb00"></i>
              {{dominiobuscado}} está disponible
            </h4>
            <ng-template #nodisponible>

              <h4 class="mt-1 text-center titulo-bold" style="font-weight: 600">
                <i class="far fa-times-circle" style="color: #c70d00"></i>
                {{dominiobuscado}} no está disponible
              </h4>

            </ng-template>

          </div>

          <div class="col-md-12">
            <h5 class="mt-1 text-center titulo-bold">
              Otros dominios que te pueden interesar
            </h5>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
              />

              <label class="form-check-label" for="flexCheckChecked">
                Seleccionar todos los dominios
              </label>
            </div>
          </div>

          <div
            class="col-xs-12 d-xs-block d-md-none d-lg-none card-newd"
            style="width: 100%"
          >
            &nbsp;
          </div>

          <div
            class="col-md-6 col-xs-12 d-xs-none d-md-block d-lg-block card-newd"
          >
            &nbsp;
          </div>

          <div
            class="col-md-6 col-xs-12 d-xs-none d-md-block d-lg-block card-newd"
          >
            &nbsp;
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="row d-flex align-items-center card-newd">
              <div class="col-md-6 col-5">
                <h6>jesusparra2022.net</h6>
              </div>

              <div class="col-md-6 col-7">
                <div class="row d-flex align-items-center">
                  <div class="col-8 p-0">
                    <div class="precio-dominio-recomendacion float-right">
                      <p style="margin: 5px; text-align: right">
                        <b style="color: #005ad2">14.000 CLP</b><br /><small
                          style="color: #afb0b2"
                          >Por el primer año</small
                        >
                      </p>
                    </div>
                  </div>

                  <div class="col-4 p-0">
                    <div
                      class="btn_hover0 opc_hover d-flex justify-content-center"
                    >
                      <div class="item" style="cursor: pointer">
                        <a
                          class="btn-add0 btn-add"
                          preciodomain="14000"
                          data-domain="jesusparra2022.net"
                          itemn="0"
                        >
                          <span>
                            <i
                              style="font-size: 28px"
                              class="fas fa-cart-plus"
                            ></i>
                            <p
                              style="
                                font-size: 11px;
                                line-height: 1;
                                visibility: hidden;
                              "
                            >
                              &nbsp;
                            </p>
                          </span>

                          <span class="px-1">
                            <i class="far fa-check-circle"></i>

                            <p style="font-size: 11px; line-height: 1">
                              Añadir al carrito
                            </p>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="row d-flex align-items-center card-newd">
              <div class="col-md-6 col-5">
                <h6>jesusparra2022.store</h6>
              </div>

              <div class="col-md-6 col-7">
                <div class="row d-flex align-items-center">
                  <div class="col-8 p-0">
                    <div class="precio-dominio-recomendacion float-right">
                      <p style="margin: 5px; text-align: right">
                        <b style="color: #005ad2">10.000 CLP</b><br /><small
                          style="color: #afb0b2"
                          >Por el primer año</small
                        >
                      </p>
                    </div>
                  </div>

                  <div class="col-4 p-0">
                    <div
                      class="btn_hover1 opc_hover d-flex justify-content-center"
                    >
                      <div class="item" style="cursor: pointer">
                        <a
                          class="btn-add1 btn-add"
                          preciodomain="10000"
                          data-domain="jesusparra2022.store"
                          itemn="1"
                        >
                          <span>
                            <i
                              style="font-size: 28px"
                              class="fas fa-cart-plus"
                            ></i>
                            <p
                              style="
                                font-size: 11px;
                                line-height: 1;
                                visibility: hidden;
                              "
                            >
                              &nbsp;
                            </p>
                          </span>

                          <span class="px-1">
                            <i class="far fa-check-circle"></i>

                            <p style="font-size: 11px; line-height: 1">
                              Añadir al carrito
                            </p>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="row d-flex align-items-center card-newd">
              <div class="col-md-6 col-5">
                <h6>jesusparra2022.digital</h6>
              </div>

              <div class="col-md-6 col-7">
                <div class="row d-flex align-items-center">
                  <div class="col-8 p-0">
                    <div class="precio-dominio-recomendacion float-right">
                      <p style="margin: 5px; text-align: right">
                        <b style="color: #005ad2">8.900 CLP</b><br /><small
                          style="color: #afb0b2"
                          >Por el primer año</small
                        >
                      </p>
                    </div>
                  </div>

                  <div class="col-4 p-0">
                    <div
                      class="btn_hover2 opc_hover d-flex justify-content-center"
                    >
                      <div class="item" style="cursor: pointer">
                        <a
                          class="btn-add2 btn-add"
                          preciodomain="8900"
                          data-domain="jesusparra2022.digital"
                          itemn="2"
                        >
                          <span>
                            <i
                              style="font-size: 28px"
                              class="fas fa-cart-plus"
                            ></i>
                            <p
                              style="
                                font-size: 11px;
                                line-height: 1;
                                visibility: hidden;
                              "
                            >
                              &nbsp;
                            </p>
                          </span>

                          <span class="px-1">
                            <i class="far fa-check-circle"></i>

                            <p style="font-size: 11px; line-height: 1">
                              Añadir al carrito
                            </p>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="row d-flex align-items-center card-newd">
              <div class="col-md-6 col-5">
                <h6>jesusparra2022.org</h6>
              </div>

              <div class="col-md-6 col-7">
                <div class="row d-flex align-items-center">
                  <div class="col-8 p-0">
                    <div class="precio-dominio-recomendacion float-right">
                      <p style="margin: 5px; text-align: right">
                        <b style="color: #005ad2">8.900 CLP</b><br /><small
                          style="color: #afb0b2"
                          >Por el primer año</small
                        >
                      </p>
                    </div>
                  </div>

                  <div class="col-4 p-0">
                    <div
                      class="btn_hover3 opc_hover d-flex justify-content-center"
                    >
                      <div class="item" style="cursor: pointer">
                        <a
                          class="btn-add3 btn-add"
                          preciodomain="8900"
                          data-domain="jesusparra2022.org"
                          itemn="3"
                        >
                          <span>
                            <i
                              style="font-size: 28px"
                              class="fas fa-cart-plus"
                            ></i>
                            <p
                              style="
                                font-size: 11px;
                                line-height: 1;
                                visibility: hidden;
                              "
                            >
                              &nbsp;
                            </p>
                          </span>

                          <span class="px-1">
                            <i class="far fa-check-circle"></i>

                            <p style="font-size: 11px; line-height: 1">
                              Añadir al carrito
                            </p>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center mt-4">
            <button
              type="button"
              class="btn btn-add-dominio"
              style="
                background-color: #005ad2;
                color: #f2f3f5;
                font-weight: bold;
                width: 45%;
              "
            >
              Continuar
            </button>
          </div>
        </div>
      </div>

      <ng-template #preload>

        <div class="modal-body d-flex justify-content-center mb-5 mt-5">

          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>

        </div>

      </ng-template>



    </div>
  </div>
</div>
