<app-nav></app-nav>

<div class="container">
    
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="azul-crt">Contactanos ahora</h1>
            <hr class="hr_title" />
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-4">

            <div class="row ">

                <h3 class="azul-crt text-center">Llámanos a nuestra mesa central</h3>
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <i style="font-size:40px;" class="fas fa-phone-alt"></i>
                    <b class="h4">+56 999999999</b>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img alt="" src="../../../../assets/img/chile.png" width="40px" style="border-radius: 20px;" />
                    <b class="mx-2">Santiago, Chile.</b>
                </div>

            </div>

            <div class="row mt-4">

                <h3 class="azul-crt text-center">Escribenos por e-mail</h3>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <i style="font-size:25px;" class="far fa-envelope"></i>
                    <b class="h5 mx-2">soporte@creattiva.cl</b>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <i style="font-size:25px;" class="far fa-envelope"></i>
                    <b class="h5 mx-2">ventas@creattiva.cl</b>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <i style="font-size:25px;" class="far fa-envelope"></i>
                    <b class="h5 mx-2">facturacion@creattiva.cl</b>
                </div>


            </div>
                
                

        </div>
        <div class="col-md-6 mt-4">

            <div class="col-md-9 card card-border p-3">

                <h3 class="text-center">Te contactaremos</h3>

                <form class="pt-3 pb-5 px-3" id="formulario_contacto" [formGroup]="form" >

                    <div class="form-group mb-4">

                        <label class="input">

                            <input 
                                class="input__field" 
                                type="text" 
                                placeholder=" " 
                                id="nombre" 
                                formControlName="nombre" 
                                [ngClass]="{
                                    'is-invalid': validarcampo('nombre')
                                  }"
                                required/>

                            <span class="input__label">Nombre</span>
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('nombre')"
                            >
                              {{ mensajeerrornombre }}
                            </div>

                        </label>

                    </div>

                    <div class="form-group mb-4">

                        <label class="input">

                            <input 
                                class="input__field" 
                                type="email" 
                                placeholder=" " 
                                id="email" 
                                [ngClass]="{
                                    'is-invalid': validarcampo('email')
                                  }"
                                formControlName="email" 
                                required/>

                            <span class="input__label">Email</span>
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('email')"
                            >
                              {{ mensajeerroremail }}
                            </div>

                        </label>

                    </div>

                    <div class="form-group mb-4">

                            <div class="input-group">
                        
                                <div class="input-group-prepend d-flex">

                                    <div class="input-group-text input__field_tele d-flex align-items-center">
                                    +569
                                    </div>
                                
                                </div>
                        

                                <input 
                                    class="form-control input__field_telefono" 
                                    type="number" 
                                    placeholder="Móvil" 
                                    id="telefono" 
                                    [ngClass]="{
                                        'is-invalid': validarcampo('telefono')
                                      }"
                                    formControlName="telefono" 
                                    required  />

                            </div>

                            
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('telefono')"
                            >
                              {{ mensajeerrortelefono }}
                            </div>


                    </div>

                    <div class="form-group">

                        <label class="input">

                            <textarea 
                                class="input__field mb-3" 
                                type="text" 
                                rows="3" 
                                placeholder=" " 
                                id="mensaje" 
                                [ngClass]="{
                                    'is-invalid': validarcampo('mensaje')
                                  }"
                                formControlName="mensaje" 
                                required>
                            </textarea>

                            <span class="input__label">Mensaje/Consulta</span>
                            
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('mensaje')"
                            >
                              {{ mensajeerrormensaje }}
                            </div>

                        </label>

                    </div>

                    <div class="row mt-3">

                        <div class="col-12">
                            <button *ngIf="btnCargando" class="btn btn-submit float-right" type="button" style="border-radius: 5px;color:#FFF; background-color:#005AD2; width: 140px;height: 45px;" [disabled]="true">
                                <div class="spinner-border text-dark" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                            <button *ngIf="!btnCargando" class="btn btn-submit float-right" type="button" style="border-radius: 5px;color:#FFF; background-color:#005AD2; width: 140px;height: 45px;font-size: 18px;" [disabled]="form.invalid" (click)="enviar()">
                                Enviar
                            </button>
                            
                        </div>

                    </div>

                </form>

                </div>

        </div>
    </div>

</div>

<br /><br /><br /><br /><br />

<app-footer></app-footer>
