<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h6><b>SELECCIONASTE EL PLAN</b></h6>
      <h1 class="azul-crt">{{ producto.nombre }}</h1>
      <hr class="hr_title" />
    </div>
  </div>


  <!-- producto.subcategoria_id == 1 ||
      producto.subcategoria_id == 2 ||
      producto.subcategoria_id == 3 ||
      producto.subcategoria_id == 4 ||
      producto.subcategoria_id == 5 ||
      producto.subcategoria_id == 6 ||
      producto.subcategoria_id == 7 ||
      producto.subcategoria_id == 8 ||
      producto.subcategoria_id == 9 ||
      producto.subcategoria_id == 12 ||
      producto.subcategoria_id == 20 ||
      producto.subcategoria_id == 22 ||
      producto.subcategoria_id == 24 -->

  <div class="row">
    <div class="col-md-8">
      <app-dominio *ngIf="
      producto.subcategoria.dominio
    " (totalcarrod)="totalcarro($event)" [dominionum] = "dominionum"
    [dominioscarrito]="carrito"></app-dominio>

    <!-- producto.subcategoria_id == 29 ||
    producto.subcategoria_id == 30 -->

    <app-direccion-ip
          *ngIf="producto.subcategoria.ip"
          (totalcarrod)="totalcarro($event)"
    ></app-direccion-ip>

    <app-cantidadlicencias
    *ngIf="producto.subcategoria_id == 20 ||
            producto.subcategoria_id == 24
    " (totalcarrod)="totalcarro($event)"
    ></app-cantidadlicencias>

    <!-- producto.subcategoria_id == 9 ||
          producto.subcategoria_id == 10 ||
          producto.subcategoria_id == 11 ||
          producto.subcategoria_id == 12 ||
          producto.subcategoria_id == 13 -->

      <app-vps
        *ngIf="
        producto.subcategoria.sistema_operativo
        "
        [sistemaOperativo] = "sistemaOperativo"
        [vpsnum] = "vpsnum"
        (totalcarrovps)="totalcarro($event)"
      ></app-vps>

      <app-periodo
        [periodos]="periodos"
        [periodonum]="periodonum"
        (totalcarro)="totalcarro($event)"
      ></app-periodo>

      <div class="row d-none d-md-block d-lg-block">
        <div class="col-md-12 text-center mt-4">
          <button
            type="button"
            class="btn"
            style="
              background-color: #005ad2;
              color: #f2f3f5;
              font-weight: bold;
              width: 45%;
            "
            (click)="validarcarro()"
          >
            Continuar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-detalle-pedido
        [totalcarroarray]="totalcarroarray"
        (totalcarrod)="totalcarro($event)"
        [aplicarCupon]="aplicarCupon"
      ></app-detalle-pedido>
    </div>
    <div class="col-md-12 text-center mt-4 d-sm-block d-md-none d-lg-none">
          <button
            type="button"
            class="btn"
            style="
              background-color: #005ad2;
              color: #f2f3f5;
              font-weight: bold;
              width: 45%;
            "
            (click)="validarcarro()"
          >
            Continuar
          </button>
        </div>
  </div>
</div>
