
  <div class="card card-border">
    <div class="card-header">
      <h5><b>Detalles del pedido</b></h5>
    </div>
    <div class="card-body p-0">
      <div class="row" *ngFor="let item of totalcarroarray.productos;">
        <div class="col-md-6">
          <h6 class="px-3 pt-3"><b></b></h6>

          <h6 class="px-3">{{item.nombre}}</h6>

        </div>

        <div class="col-md-6">
          <h6 class="px-3 pt-3">{{item.precio | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</h6>

          <small class="px-3" style="text-decoration: line-through"
            >{{item.precioold | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</small
          >
        </div>
      </div>

      <hr class="hr_detallescompra" />

      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center">
            <form>
              <div class="form-group">
                <label class="input">
                  <input
                    class="input__field"
                    type="text"
                    placeholder=" "
                    id="cupon"
                    name="cupon"
                    required
                  />

                  <span class="input__label">Cupón de descuento</span>
                  <small id="errorcupon" style="color: #ff0000"></small>
                </label>

                <button
                  type="button"
                  class="btn"
                  style="
                    background-color: #005ad2;
                    color: #f2f3f5;
                    font-weight: bold;
                    border-radius: unset;
                  "
                >
                  Aplicar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <hr class="hr_detallescompra" />

      <div class="row pb-1">
        <div class="col-md-6">
          <h6 class="px-3 pt-1"><b>Neto pedido</b></h6>
        </div>

        <div class="col-md-6">
          <h5 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.neto | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h5>
        </div>
      </div>
      <div class="row pb-1">
        <div class="col-md-6">
          <h6 class="px-3 pt-1"><b>IVA pedido</b></h6>
        </div>

        <div class="col-md-6">
          <h5 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.iva | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h5>
        </div>
      </div>

      <div class="row pb-1">
        <div class="col-md-6">
          <h6 class="px-3 pt-1"><b>Total pedido</b></h6>
        </div>

        <div class="col-md-6">
          <h5 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.total | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h5>

          <small class="px-3">Ahorra {{totalcarroarray.ahorro | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</small>
        </div>
      </div>
    </div>
  </div>
