<div class="card card-border mt-4 mt-md-0 d-none d-md-block d-lg-block">

  <div class="card-header">

    <h5><b>Detalles del pedido</b></h5>

  </div>

  <div class="card-body p-0">

    <div class="row pt-2 d-flex align-items-center" *ngFor="let item of totalcarroarray.productos;">
      
      <div class="col-md-7">
        
        <h6 class="px-3">{{item.nombre}}</h6>

      </div>

      <div class="col-md-5">

        <h6 class="px-3">{{item.precio | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</h6>

        <small class="px-3" style="text-decoration: line-through" *ngIf="item.precioold>0"
          >{{item.precioold | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</small
        >

      </div>

      <div class="col-md-12">

        <hr class="hr_detallescompra" />

      </div>

    </div>

    <div class="row">

      <div class="col-md-12 px-4">

          <div class="row" *ngIf="validezcupon==1; else agregarcupon">

            <div class="col-md-8">

              <h6 class="px-3 pt-3">
                <b>Cupón agregado</b>
                <i class="ms-2 far fa-check-circle" style="color: #32cb00"></i>
              </h6>

              <h6 class="px-3">
                {{cuponAplicado}}
              </h6>

            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">

                <i  (click)="quitarCupon()"
                    class="fas fa-trash-alt deletecupon"
                    style="cursor:pointer"
                  ></i>

            </div>

          </div>

          <ng-template #agregarcupon>

            <form class="pt-3" [formGroup]="form_cupon">

              <div class="form-group d-flex justify-content-center">
                
                <label class="input">
                  
                  <input
                    class="input__field"
                    style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                    type="text"
                    placeholder=" "
                    id="cupon"
                    name="cupon"
                    formControlName="cupon"
                    required
                  />

                  <span class="input__label">Cupón de descuento</span>

                </label>

                <button
                  type="button"
                  class="btn"
                  [disabled]="form_cupon.invalid"
                  (click)="validarcupon()"

                  style="
                    background-color: #005ad2; color: #f2f3f5; font-weight: bold; border-top-left-radius: 0px; border-bottom-left-radius: 0px;
                  "
                >
                  Aplicar
                </button>

              </div>

              <small class="text-danger text-center"
                    [ngClass]="validezcupon == 2 ? 'd-block' : 'd-none'"
                    >

                <b>El Cupón es inválido</b>

              </small>

            </form>

          </ng-template>
          
      </div>

    </div>

    <hr class="hr_detallescompra" />

    <div class="row pb-1">

      <div class="col-md-6">

        <h6 class="px-3 pt-1"><b>Neto pedido</b></h6>

      </div>

      <div class="col-md-6">

        <h6 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.neto | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h6>

      </div>

    </div>

    <div class="row pb-1">

      <div class="col-md-6">

        <h6 class="px-3 pt-1"><b>IVA pedido</b></h6>

      </div>

      <div class="col-md-6">

        <h6 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.iva | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h6>

      </div>

    </div>

    <div class="row pb-1">

      <div class="col-md-6">

        <h6 class="px-3 pt-1"><b>Total pedido</b></h6>

      </div>

      <div class="col-md-6">

        <h6 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.total | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h6>

        <small class="px-3">Ahorra {{totalcarroarray.ahorro | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</small>

      </div>

    </div>

  </div>

</div>





<div class="d-sm-block d-md-none d-lg-none">

  <div class="footer-fixed pb-2">

    <div class="row">

      <div class="accordion" id="accordionExample">

        <div class="accordion-item">

          <h2 class="accordion-header" id="headingOne">

            <button class="button-detalles accordion-button pt-0 pb-0 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #f5f6f8">

              <h5 class="m-1"><b>Detalles del pedido</b></h5>

              <hr class="hr_detallescompra">

            </button>

          </h2>

          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            
            <div class="accordion-body">

              <div>

                <div class="p-0">

                  <div class="row pt-2 d-flex align-items-center" *ngFor="let item of totalcarroarray.productos;">
      
                    <div class="col-md-7">
                      
                      <h6 class="px-3">{{item.nombre}}</h6>

                    </div>

                    <div class="col-md-5">

                      <h6 class="px-3">{{item.precio | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</h6>

                      <small class="px-3" style="text-decoration: line-through" *ngIf="item.precioold>0"
                        >{{item.precioold | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</small
                      >

                    </div>

                    <div class="col-md-12">

                      <hr class="hr_detallescompra" />

                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-12 px-4">

                        <div class="row" *ngIf="validezcupon==1; else agregarcupon">

                          <div class="col-8 col-sm-8 col-md-8">

                            <h6 class="px-3 pt-3">
                              <b>Cupón agregado</b>
                              <i class="ms-2 far fa-check-circle" style="color: #32cb00"></i>
                            </h6>

                            <h6 class="px-3">
                              {{cuponAplicado}}
                            </h6>

                          </div>

                          <div class="col-4 col-sm-4 col-md-4 d-flex justify-content-center align-items-center">

                              <i  (click)="quitarCupon()"
                                  class="fas fa-trash-alt deletecupon"
                                  style="cursor:pointer"
                                ></i>

                          </div>

                        </div>

                        <ng-template #agregarcupon>

                          <form class="pt-3" [formGroup]="form_cupon">

                            <div class="form-group d-flex justify-content-center">
                              
                              <label class="input">
                                
                                <input
                                  class="input__field"
                                  style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                                  type="text"
                                  placeholder=" "
                                  id="cupon"
                                  name="cupon"
                                  formControlName="cupon"
                                  required
                                />

                                <span class="input__label">Cupón de descuento</span>

                              </label>

                              <button
                                type="button"
                                class="btn"
                                [disabled]="form_cupon.invalid"
                                (click)="validarcupon()"

                                style="
                                  background-color: #005ad2; color: #f2f3f5; font-weight: bold; border-top-left-radius: 0px; border-bottom-left-radius: 0px;
                                "
                              >
                                Aplicar
                              </button>

                            </div>

                            <small class="text-danger text-center"
                                  [ngClass]="validezcupon == 2 ? 'd-block' : 'd-none'"
                                  >

                              <b>El Cupón es inválido</b>

                            </small>

                          </form>

                        </ng-template>
                        
                    </div>

                  </div>

               

                  <hr class="hr_detallescompra">
                  
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="row pb-1 d-none">

      <div class="col-md-6">

        <h6 class="px-3 pt-1"><b>Neto pedido</b></h6>

      </div>

      <div class="col-md-6">

        <h6 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.neto | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h6>

      </div>

    </div>

    <div class="row pb-1 d-none">

      <div class="col-md-6">

        <h6 class="px-3 pt-1"><b>IVA pedido</b></h6>

      </div>

      <div class="col-md-6">

        <h6 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.iva | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h6>

      </div>

    </div>

    <div class="row pb-1">

      <div class="col-12 col-sm-12 d-flex">

        <h6 class="px-3 pt-1"><b>Total pedido:</b></h6>

        <div>

          <h6 class="px-3 pt-1 azul-crt"><b>{{totalcarroarray.total | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</b></h6>

          <small class="px-3">Ahorra {{totalcarroarray.ahorro | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}} CLP</small>

        </div>

      </div>

    </div>

    <div class="row">
    
      <div class="col-md-12 text-center mt-1">

        <button
            type="button"
            class="btn"
            style="
              background-color: #009900;
              color: #f2f3f5;
              font-weight: bold;
              width: 60%;
            "
            *ngIf="mostrarMovil==true; else btncontinuar"
            (click)="finalizarcompras()"
          >
            FINALIZAR COMPRA
          </button>

        <ng-template #btncontinuar>

          <button
            type="button"
            class="btn"
            style="
              background-color: #005ad2;
              color: #f2f3f5;
              font-weight: bold;
              width: 45%;
            "
            (click)="continuar()"
          >
            Continuar
        </button>

        </ng-template>

      </div>

    </div>

  </div>

</div>

