<app-nav></app-nav>

<div class="container">
    
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="azul-crt">Soporte técnico</h1>
            <hr class="hr_title" />
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        
    	<div class="col-md-12 mt-1">

    		<h5 class="azul-crt">¿Necesitas ayuda? Revisa todas nuestras opciones:</h5>

    	</div>

        <div class="col-md-12 mt-2">


            <div class="row d-flex justify-content-center">
				  	
			  	<div class="col-sm-6 col-6 col-md-2 mt-3" >
			  

				  	<div 
				    class="card planes-icon plan-active"  
				    (click)="preguntasFrecuentes()"
				  	>
				    <img alt="" src="../../../../assets/img/preguntas-frecuentes.png" width="70px" style="border-radius: 5px;" />
				    <h5>Preguntas frecuentes</h5>

				  	</div>

				</div>

				<div class="col-sm-6 col-6 col-md-2 mt-3" >
			  

				  	<div 
				    class="card planes-icon plan-active"  
				    routerLink="/compra-dominios"
				  	>
				    <img alt="" src="../../../../assets/img/video-tutoriales.png" width="70px" style="border-radius: 5px;" />
				    <h5>Videotutoriales</h5>

				  	</div>

				</div>

				<div class="col-sm-6 col-6 col-md-2 mt-3" >
			  

				  	<div 
				    class="card planes-icon plan-active"  
				    routerLink="/compra-dominios"
				  	>
				    <img alt="" src="../../../../assets/img/dns.png" width="70px" style="border-radius: 5px;" />
				    <h5>DNS Creattiva</h5>

				  	</div>

				</div>

				<div class="col-sm-6 col-6 col-md-2 mt-3" >
			  

				  	<div 
				    class="card planes-icon plan-active"  
				    routerLink="/compra-dominios"
				  	>
				    <img alt="" src="../../../../assets/img/notificar-pago.png" width="70px" style="border-radius: 5px;" />
				    <h5>Notificar Pago</h5>

				  	</div>

				</div>

				<div class="col-sm-6 col-6 col-md-2 mt-3" >
			  

				  	<div 
				    class="card planes-icon plan-active"  
				    routerLink="/sucursal"
				  	>
				    <img alt="" src="../../../../assets/img/sucursal-virtual.png" width="70px" style="border-radius: 5px;" />
				    <h5>Sucursal Virtual</h5>

				  	</div>

				</div>

				<div class="col-sm-6 col-6 col-md-2 mt-3" >
			  

				  	<div 
				    class="card planes-icon plan-active"  
				    (click)="mostrarip()"
				  	>
				    <img alt="" src="../../../../assets/img/ip.png" width="70px" style="border-radius: 5px;" />
				    <h5>Mi IP</h5>

				  	</div>

				</div>

			</div>   
                

        </div>

        <div class="col-md-12 mt-5" #subfocoresultado>

    		<h2 class="azul-crt text-center" *ngIf="mostrarIP">Tu dirección IP es: 
    		
    			<b *ngIf="this.ip!=''; else loading">{{this.ip}}</b>

    			<ng-template #loading>

		    		<b>

			    		<div class="spinner-grow text-primary" role="status">
				            <span class="visually-hidden">Loading...</span>
				        </div>

			    	</b>

		    	</ng-template>
    		
    		</h2>

    		<h2 class="azul-crt text-center" *ngIf="mostrarPf">Revisa nuestras preguntas frecuentes: 
    		
    			<ul class="list-group">

				  <li class="list-group-item" *ngFor="let item of PreguntasFrecuentes; let i=index">{{item.TITULO_PAGINA}}</li>

				</ul>


    		
    		</h2>
    		<hr class="hr_title" />

    	</div>


    </div>

</div>

<br /><br /><br /><br /><br />

<app-footer></app-footer>
