<app-nav></app-nav>

<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="azul-crt">Soporte técnico</h1>
            <hr class="hr_title" />
        </div>
    </div>

    <div class="row d-flex justify-content-center">

    	<div class="col-md-12 mt-1">

    		<h5 class="azul-crt">¿Necesitas ayuda? Revisa todas nuestras opciones:</h5>

    	</div>

        <div class="col-md-12 mt-2">

            <div class="">

				<owl-carousel-o class="owlopc" [options]="owl_opciones">

					<ng-template carouselSlide >
						<div
						class="card planes-icon plan-active"
						(click)="preguntasFrecuentes()"
						>
						<img alt="" src="../../../../assets/img/preguntas-frecuentes.png" width="70px" style="border-radius: 5px;" />
						<h5>Preguntas frecuentes</h5>

						</div>
					</ng-template>

					<ng-template carouselSlide>


						<div
						class="card planes-icon plan-active"
						>
						<img alt="" src="../../../../assets/img/video-tutoriales.png" width="70px" style="border-radius: 5px;" />
						<h5>Videotutoriales</h5>

						</div>

					</ng-template>

					<ng-template carouselSlide>


						<div
						class="card planes-icon plan-active"
						(click)="dns('dns-creattiva')"
						>
						<img alt="" src="../../../../assets/img/dns.png" width="70px" style="border-radius: 5px;" />
						<h5>DNS Creattiva</h5>

						</div>

					</ng-template>

					<ng-template carouselSlide>


						<div
						class="card planes-icon plan-active"
						
						>
						<img alt="" src="../../../../assets/img/notificar-pago.png" width="70px" style="border-radius: 5px;" />
						<h5>Notificar Pago</h5>

						</div>

					</ng-template>

					<ng-template carouselSlide >


						<div
						class="card planes-icon plan-active"
						routerLink="/sucursal"
						>
						<img alt="" src="../../../../assets/img/sucursal-virtual.png" width="70px" style="border-radius: 5px;" />
						<h5>Sucursal Virtual</h5>

						</div>

					</ng-template>

					<ng-template carouselSlide>


						<div
						class="card planes-icon plan-active"
						(click)="mostrarip()"
						>
						<img alt="" src="../../../../assets/img/ip.png" width="70px" style="border-radius: 5px;" />
						<h5>Mi IP</h5>

						</div>

					</ng-template>

				</owl-carousel-o>

			</div>


        </div>

        <div class="col-md-8 mt-5" #subfocoresultado>

    		<div class="azul-crt">

    			<div class="text-center" *ngIf="mostrarIP">

    				<h2>

	    				Tu dirección IP es:

		    			<b *ngIf="this.ip!=''; else loading">{{this.ip}}</b>

	    			</h2>

		    	</div>

		    	<div *ngIf="mostrarPf">

		    		<h2 class="text-center">Revisa nuestras preguntas frecuentes:</h2> 

					<div *ngIf="PfCargadas; else loading">

						<ul class="list-group">

							<li class="list-group-item d-flex justify-content-between" *ngFor="let item of PreguntasFrecuentes | paginate: {itemsPerPage: 5, currentPage: page, totalItems: totalpf}">
  
								<h5 style="max-width: 80%;">{{item.titulo}}</h5>
  
							  <span 
								  class="badge bg-secondary d-flex align-items-center" 
								  style="background-color: #0054ce!important;cursor:pointer"
								  routerLink="/soporte/faq/{{item.URL_PAGINA}}"
							  >
								  
								  <i class="fas fa-angle-right"></i>
							  
							  </span>
  
  
						  </li>
  
					  </ul>

					</div>
						
					<br>
					<pagination-controls 
						(pageChange)="page = $event"
						previousLabel="Anterior"
						nextLabel="Siguiente"
						[maxSize]="maxSize"
						class="text-center paginador"
					></pagination-controls>

		    	</div>

				<div *ngIf="mostrarDNS">

					<h2 class="text-center">Conecta tu hosting con tu dominio web </h2> 

					<div *ngIf="DnsCreattiva.length>0; else loading" [innerHTML]='DnsCreattiva[0].CONTENIDO_PAGINA'>
		
					</div>

		    	</div>

		    	<ng-template #loading>

		    		<b>

			    		<div class="spinner-grow text-primary" role="status">
				            <span class="visually-hidden">Loading...</span>
				        </div>

			    	</b>

		    	</ng-template>

    		</div>

    		<hr class="hr_title" />

    	</div>




    </div>

</div>

<!--

<ul class="">
  <li *ngFor="let item of collection | paginate: pageinator.currentPage"> {{item.name}} </li>
</ul>

<app-paginador maxSize="3" [page]="collection.length" #pageinator></app-paginador>

-->

<br /><br /><br /><br /><br />

<app-footer></app-footer>
