<app-nav></app-nav>

<div class="container">


    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="azul-crt">Únete a nuestro equipo</h1>
            <hr class="hr_title" />
        </div>
    </div>

    
    <div class="row d-flex justify-content-center" *ngIf="!mensajeEnviado; else mensajeenviado">

        <div class="col-md-6 mt-4">

            <div class="row ">

                <h3 class="azul-crt text-center">Llámanos a nuestra mesa central</h3>
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="../../../../assets/img/tele-central.webp" style="width: 250px;">
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img alt="" src="../../../../assets/img/chile.png" width="40px" style="border-radius: 20px;" />
                    <b class="mx-2">Santiago, Chile.</b>
                </div>

            </div>

            <div class="row mt-4">

                <div class="col-md-12">

                  <h3 class="azul-crt text-center">Escribenos por e-mail</h3>
                  <img alt="" src="../../../../assets/img/emails.png" class="rounded mx-auto d-block" style="border-radius: 20px;width:50%" />

                </div>

            </div>
                
                

        </div>

        <div class="col-md-6 mt-4">

            <div class="col-md-9 card card-border p-3">

                <h3 class="text-center">Te contactaremos</h3>

                <form class="pt-3 pb-5 px-3" id="formulario_contacto" [formGroup]="form" >

                    <div class="form-group mb-4">

                        <label class="input">

                            <input 
                                class="input__field" 
                                type="text" 
                                placeholder=" " 
                                id="nombre" 
                                formControlName="nombre" 
                                [ngClass]="{
                                    'is-invalid': validarcampo('nombre')
                                  }"
                                required/>

                            <span class="input__label">Nombre</span>
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('nombre')"
                            >
                              {{ mensajeerrornombre }}
                            </div>

                        </label>

                    </div>

                    <div class="form-group mb-4">

                        <label class="input">

                            <input 
                                class="input__field" 
                                type="email" 
                                placeholder=" " 
                                id="email" 
                                [ngClass]="{
                                    'is-invalid': validarcampo('email')
                                  }"
                                formControlName="email" 
                                required/>

                            <span class="input__label">Email</span>
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('email')"
                            >
                              {{ mensajeerroremail }}
                            </div>

                        </label>

                    </div>

                    <div class="form-group mb-4">

                            <div class="input-group">
                        
                                <div class="input-group-prepend d-flex">

                                    <div class="input-group-text input__field_tele d-flex align-items-center">
                                    +569
                                    </div>
                                
                                </div>
                        

                                <input 
                                    class="form-control input__field_telefono" 
                                    type="text" 
                                    placeholder="Móvil" 
                                    id="telefono" 
                                    [ngClass]="{
                                        'is-invalid': validarcampo('telefono')
                                      }"
                                    formControlName="telefono" 
                                    (keyup)="validarcaracteres($event)"
                                    [maxlength]="8"
                                    required  />

                            </div>

                            <small *ngIf="contador>0"><b>Debe ingresar {{contador}} caracteres</b></small>
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('telefono')"
                            >
                              {{ mensajeerrortelefono }}
                            </div>


                    </div>


                    <div class="form-group  mb-4">

                        <select 
                            class="input__field_exten" 
                            id="extension" 
                            name="extension" 
                            style="border-radius:5px"
                            formControlName="cargo"
                        >
                            
                            <option value="" selected>Seleccione cargo</option>
                            <option value="1">Soporte</option>
                            <option value="2">Finanzas</option>
                            <option value="3">Ventas</option>
                            <option value="4">Programación</option>

                        </select>

                    </div>

                    <div class="form-group mt-3">
                    
                        <input 
                            class="form-control input__field" 
                            type="file" 
                            id="formFile"
                            formControlName="cv"
                        >

                    </div>


                    <div class="row mt-3">

                        <div class="col-12">
                            <button *ngIf="btnCargando" class="btn btn-submit float-right" type="button" style="border-radius: 5px;color:#FFF; background-color:#005AD2; width: 140px;height: 45px;" [disabled]="true">
                                <div class="spinner-border text-dark" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                            <button *ngIf="!btnCargando" class="btn btn-submit float-right" type="button" style="border-radius: 5px;color:#FFF; background-color:#005AD2; width: 140px;height: 45px;font-size: 18px;" [disabled]="form.invalid" (click)="enviar()">
                                Enviar
                            </button>
                            
                        </div>

                    </div>

                </form>

                </div>

        </div>

    </div>

    <ng-template #mensajeenviado>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-sm-12 col-12">
              <div class="card p-5">
                <div class="row">
                  <div class="col-md-12 mb-2 text-center">
                    <h2><b>Hemos recibido tu mensaje</b></h2>
                    <h6>Uno de nuestros ejecutivos te contactará dentro de poco</h6>
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <div
                      class="px-3 d-flex justify-content-center align-items-center"
                      style="/*width: 150px;
                      height: 150px;
                      -moz-border-radius: 50%;
                      -webkit-border-radius: 50%;
                      border-radius: 50%;
                      background: #0d4ec3;*/"
      
                    >
      
                    <svg xmlns="http://www.w3.org/2000/svg" width="80px" viewBox="0 0 496 512">
                    
                        <g fill="#005ad2" stroke="none">  
                        
                            <path d="M328 180c-25.69 0-55.88 16.92-59.86 42.12-1.75 11.22 11.5 18.24 19.83 10.84l9.55-8.48c14.81-13.19 46.16-13.19 60.97 0l9.55 8.48c8.48 7.43 21.56.25 19.83-10.84C383.88 196.92 353.69 180 328 180zm-160 60c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32zm185.55 64.64c-25.93 8.3-64.4 13.06-105.55 13.06s-79.62-4.75-105.55-13.06c-9.94-3.13-19.4 5.37-17.71 15.34C132.67 367.13 196.06 400 248 400s115.33-32.87 123.26-80.02c1.68-9.89-7.67-18.48-17.71-15.34zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56s200 89.72 200 200-89.72 200-200 200z"/>
                        
                        </g>
                        
                    </svg>
      
                    </div>
      
                  </div>
                  <div class="col-12 mt-3 text-center">
                    <a routerLink="/"
                      class="btn"
                      style="
                        background-color: #005ad2;
                        color: #f2f3f5;
                        font-weight: bold;
                      "
                    >
                    Regresar al Inicio
      
                    <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px">
                      <path fill="#FFF" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z"/>
                    </svg>
                    </a>
      
                  </div>
                </div>
              </div>
      
            </div>
        </div>


    </ng-template>

  </div>


<br /><br /><br /><br /><br />

<app-footer></app-footer>

