<nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, rgb(11, 11, 139) 0%, rgb(14, 119, 229) 100%);">

  <div class="container p-0">

      <a class="navbar-brand" href="/">

        <img alt="" class="img-fluid" src="../../../../assets/img/logoWeb.webp" width="100%" />

      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">

        <div class="d-flex align-items-center">

          <img src="../../../../assets/img/tlf-ventas.png" class="mx-5">

          <h6 style="color:#FFF" class="me-4">FINALIZAR COMPRA</h6>

          <a routerLink="/carrito">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="40px" viewBox="0 0 128.000000 128.000000" preserveAspectRatio="xMidYMid meet">

              <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
              fill="#FFF" stroke="none">
              <path d="M0 1230 l0 -29 72 -3 73 -3 29 -110 c16 -60 71 -265 123 -454 l93
              -345 -30 -31 c-51 -53 -53 -126 -4 -184 76 -91 234 -34 234 85 0 25 -5 54 -10
              65 -10 18 -6 19 165 19 l176 0 -12 -22 c-17 -31 -13 -93 8 -128 25 -42 91 -73
              138 -64 100 18 146 139 84 218 -43 55 -53 56 -383 56 l-305 0 -9 33 -8 32 323
              5 323 5 31 31 c27 27 38 60 101 293 57 211 68 264 58 276 -11 13 -84 15 -511
              15 -275 0 -499 2 -499 5 0 17 -65 243 -73 253 -6 8 -39 12 -98 12 l-89 0 0
              -30z m1206 -317 c-3 -10 -30 -115 -61 -233 -32 -118 -64 -223 -73 -232 -14
              -16 -42 -18 -322 -18 -237 0 -310 3 -324 13 -12 9 -39 88 -82 243 -35 126 -64
              232 -64 237 0 4 210 7 466 7 438 0 465 -1 460 -17z m-702 -694 c20 -16 26 -29
              26 -59 0 -44 -35 -80 -77 -80 -34 0 -73 42 -73 80 0 38 39 80 73 80 13 0 36
              -9 51 -21z m581 -4 c45 -44 25 -117 -35 -130 -60 -13 -113 50 -90 106 21 51
              86 64 125 24z"/>
              </g>
              
            </svg>
            <span class="badge bg-white" style="position: relative;top: -12px;left: -8px;color:black;">{{DominiosService.totalCarro}}</span>

          </a>


        </div>

  </div>

  </div>

</nav>
