<app-nav></app-nav>

<div class="container">
    
    <!-- <div class="row mt-5">
        <div class="col-md-12">
            <hr class="hr_title" />
        </div>
    </div> -->

        <div class="mt-5 row d-flex justify-content-center">
            <div class="col-md-6 col-sm-12 col-12">
              <div class="card p-5">
                <div class="row">
                  <div class="col-md-12 mb-2 text-center">
                    <h2 class="azul-crt"><b>Pago realizado exitosamente</b></h2>
                    <h6>Recibirás todas las instrucciones en tu correo</h6>
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <div class="px-3 d-flex justify-content-center align-items-center">
      
                    <svg xmlns="http://www.w3.org/2000/svg" width="80px" viewBox="0 0 496 512">
                    
                        <g fill="#005ad2" stroke="none">  
                        
                            <path d="M328 180c-25.69 0-55.88 16.92-59.86 42.12-1.75 11.22 11.5 18.24 19.83 10.84l9.55-8.48c14.81-13.19 46.16-13.19 60.97 0l9.55 8.48c8.48 7.43 21.56.25 19.83-10.84C383.88 196.92 353.69 180 328 180zm-160 60c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32zm185.55 64.64c-25.93 8.3-64.4 13.06-105.55 13.06s-79.62-4.75-105.55-13.06c-9.94-3.13-19.4 5.37-17.71 15.34C132.67 367.13 196.06 400 248 400s115.33-32.87 123.26-80.02c1.68-9.89-7.67-18.48-17.71-15.34zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 448c-110.28 0-200-89.72-200-200S137.72 56 248 56s200 89.72 200 200-89.72 200-200 200z"/>
                        
                        </g>
                        
                    </svg>
      
                    </div>
      
                  </div>
                  <div class="col-12 mt-3 text-center">
                    <a routerLink="/"
                      class="btn"
                      style="
                        background-color: #005ad2;
                        color: #f2f3f5;
                        font-weight: bold;
                      "
                    >
                    Regresar al Inicio
      
                    <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px">
                      <path fill="#FFF" d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z"/>
                    </svg>
                    </a>
      
                  </div>
                </div>
              </div>
      
            </div>
        </div>

</div>

<br /><br /><br /><br /><br />

<app-footer></app-footer>
