<div class="card card-border p-3">
  <div class="row px-5">
    <div class="col-md-12 mb-2">
      <h5><b>1. Elije tu dominio</b></h5>
    </div>
    <span
      class="badge"
      style="
        width: 100px;
        background-color: #00cd34;
        border-radius: unset;
      "
      >1 año gratis</span
    >
    <div
      class="col-md-12 card card-border p-3"
      data-opc="nuevodominio"
      style="border: 1.3px solid #999999; cursor: pointer"
    >
      <div class="col-md-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="opcdominio"
            id="nuevodominio"
            (change)="nuevodominio()"
          />
          <label class="form-check-label" for="nuevodominio">
            Quiero registrar un nuevo dominio
          </label>
        </div>
      </div>

      <div class="col-md-12" [ngClass]="{'d-none':mostrar == 0}" data-opc="table-nuevodominio">
        <form class="pt-3" id="" [formGroup]="form">
          <div class="row">
            <div
              class="col-md-2 col-2 d-flex align-items-end justify-content-end p-0"
            >
              <div class="form-group">
                <h5>www.&nbsp;</h5>
              </div>
            </div>

            <div class="col-md-6 col-6 px-0">
              <div class="form-group">
                <input
                  class="input__field_dominio"
                  type="text"
                  placeholder=" "
                  id="dominio"
                  formControlName="dominio"
                />
              </div>
            </div>

            <div class="col-md-2 col-2 px-0">
              <div class="form-group contenedor-extension-dominio">
                <select
                  class="input__field_exten"
                  id="extension"
                  formControlName="extension"
                >
                  <option value="cl" selected>.cl</option>

                  <option value="com">.com</option>

                  <option value="net">.net</option>

                  <option value="info">.info</option>

                  <option value="org">.org</option>

                  <option value="otro">otro</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-2 d-flex align-items-center">
              <button
                type="button"
                class="btn"
                id="busqueda"
                [disabled]="form.invalid"
                (click)="buscardominio()"
                style="
                  background-color: #005ad2;
                  color: #f2f3f5;
                  font-weight: bold;
                  width: 100%;
                  font-size: 14px;
                "
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Buscar
              </button>
            </div>

            <div class="col-md-12 col-12 text-center">
              <small id="errordominio" style="color: #ff0000"></small>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-12 d-none" data-opc="table2-nuevodominio">
        <div class="row">
          <div class="col-md-7">
            <h6 class="px-3 pt-3">
              <b>Dominio agregado</b>
              <i class="far fa-check-circle" style="color: #32cb00"></i>
            </h6>

            <h6 class="px-3">
              arielcadenas.com
              <button
                type="button"
                class="btn btn-outline-dark btn-edit ms-2"
              >
                cambiar dominio <i class="ms-2 far fa-edit"></i>
              </button>
            </h6>
          </div>

          <div class="col-md-5">
            <h6 class="px-3 pt-3">
              <b>1er año: </b>
              <span style="text-decoration: line-through">9.600 CLP</span
              >Gratis
            </h6>

            <h6 class="px-3">
              <b>Renovación: 9.600 CLP </b>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row px-5 mt-3">
    <div
      class="col-md-12 card card-border p-3"
      data-opc="dominioexistente"
      style="border: 1.3px solid #999999; cursor: pointer"
    >
      <div class="col-md-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="opcdominio"
            id="dominioexistente"
            (change)="dominioold()"
          />
          <label class="form-check-label" for="dominioexistente">
            Quiero usar un dominio que ya tengo registrado
          </label>
        </div>
      </div>

      <div class="col-md-12 " [ngClass]="{'d-none':mostrarold == 0}" data-opc="table-dominioexistente">
        <form class="pt-3" id="" action="" method="POST">
          <div class="row">
            <div
              class="col-md-2 col-2 d-flex align-items-end justify-content-end p-0"
            >
              <div class="form-group">
                <h5>www.&nbsp;</h5>
              </div>
            </div>

            <div class="col-md-6 col-6 px-0">
              <div class="form-group">
                <input
                  class="input__field_dominio"
                  type="text"
                  placeholder=" "
                  id="dominio"
                  name="dominio"
                  required
                />
              </div>
            </div>

            <div class="col-md-2 col-2 px-0">
              <div class="form-group contenedor-extension-dominio">
                <select
                  class="input__field_exten"
                  id="extension"
                  name="extension"
                >
                  <option value=".cl" selected>.cl</option>

                  <option value=".com">.com</option>

                  <option value=".net">.net</option>

                  <option value=".info">.info</option>

                  <option value=".org">.org</option>

                  <option value="otro">otro</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 col-2 d-flex align-items-center">
              <button
                type="button"
                class="btn"
                id="guardardominio"
                style="
                  background-color: #005ad2;
                  color: #f2f3f5;
                  font-weight: bold;
                  width: 100%;
                  font-size: 14px;
                "
              >
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal-dominio [dominios]="dominios" [dominiobuscado]="dominiobuscado" (totalcarro)="totalcarrodomain($event)"></app-modal-dominio>
<!-- Modal -->
