<app-nav></app-nav>

<div class="container">
  <div class="row mt-5 d-flex justify-content-center" [formGroup]="form">
    <div class="col-md-6">
      <div class="card card-border p-3">
        <div class="row px-1 px-md-3">
          <div class="col-md-12 mb-2 d-flex justify-content-between">
            <h5><b>Detalles de la compra</b></h5>
          </div>
        </div>

        <div class="row px-1 px-md-3">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item mt-2">
              
              <p><b>1.- Datos del comprador / Contacto técnico:</b></p>

              <h2
                class="accordion-header d-flex justify-content-between"
                id="flush-headingOne"
              >
                <button
                  class="btn-acordeon accordion-button pt-0 pb-0"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  {{ form.value.email }}
                </button>

                <button
                  type="button"
                  class="btn btn-outline-dark color-gris border-gris btn-editar"
                  *ngIf="datoscompradorsave"
                  (click)="modificardatoscomprador()"
                >
                  Modificar <i class="far fa-edit"></i>
                </button>
              </h2>

              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse show"
                [ngClass]="{ show: datoscompradorsave == false }"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body px-0">
                  <form class="mt-4">
                    <div class="row g-3">
                      <div class="col-md-12">
                        <input
                          type="text"
                          class="form-control"
                          [ngClass]="{ 'is-invalid': validarcampo('email') }"
                          [readonly]="datoscompradorsave"
                          id="inputEmail4"
                          placeholder="email"
                          formControlName="email"
                        />
                        <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('email')"
                        >
                          {{ mensajeerroremail }}
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend d-flex">
                              <div class="input-group-text">+569</div>
                            </div>

                            <input
                              class="form-control input__field_telefono"
                              [ngClass]="{
                                'is-invalid': validarcampo('telefono')
                              }"
                              type="number"
                              [readonly]="datoscompradorsave"
                              placeholder="Móvil"
                              id="telefono"
                              required
                              formControlName="telefono"
                            />

                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('telefono')"
                            >
                              {{ mensajeerrortelefono }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-sm-12 col-md-6">
                        <select
                          id="inputState"
                          class="form-select"
                          formControlName="pais"
                        >
                          <option selected>Pais</option>
                          <option
                            *ngFor="let pais of paises; let i = index"
                            [value]="pais.name.common"
                          >
                            {{ pais.name.common }}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-12 mt-4 text-center">
                        <button
                          type="button"
                          class="btn"
                          style="
                            background-color: #005ad2;
                            color: #f2f3f5;
                            font-weight: bold;
                            width: 60%;
                          "
                          *ngIf="!datoscompradorsave"
                          (click)="guardarcomprador()"
                        >
                          Guardar
                        </button>
                      </div>
                    </div>

                    <!-- modificacion o campos guardados -->
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item mt-2" *ngIf="datoscompradorsave">
              <div class="row mt-3">
                <div class="col-md-6 col-12 col-sm-12 align-middle">
                  <p><b>2.- Datos facturación:</b></p>
                </div>
                <div class="col-md-6 col-12 col-sm-12">
                  <div class="row px-2 px-md-3">
                    <div class="col-4 col-sm-4 col-md-4 px-0">
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        >Persona</label
                      >
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="flexSwitchCheckChecked"
                          (change)="mostrardatosempresa()"
                          formControlName="isempresa"
                        />
                      </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 px-0">
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        >Empresa</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <h2
                class="accordion-header d-flex justify-content-between"
                id="flush-headingTwo"
              >
                <button
                  class="btn-acordeon accordion-button pt-0 pb-0"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  {{ nombrefacturacion }}
                </button>

                <button
                  type="button"
                  class="btn btn-outline-dark color-gris border-gris btn-editar"
                  *ngIf="datosfacturacion"
                  (click)="modificarfacturacion()"
                >
                  Modificar <i class="far fa-edit"></i>
                </button>
              </h2>

              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                [ngClass]="{ show: datosfacturacion == false }"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body px-0">
                  <form class="row g-3">
                    <div class="col-md-5">
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': validarcampo('rut') }"
                        id="inputEmail4"
                        [readonly]="datosfacturacion"
                        [placeholder]="
                          form.value.isempresa ? 'RUT Empresa' : 'RUT'
                        "
                        (change)="validarrut()"
                        formControlName="rut"
                      />
                      <div class="invalid-feedback" *ngIf="validarcampo('rut')">
                        {{ mensajeerrorrut }}
                      </div>
                    </div>
                    <div class="col-md-7" *ngIf="empresadatos">
                      <input
                        type="text"
                        class="form-control"
                        id="inputPassword4"
                        [readonly]="datosfacturacion"
                        placeholder="Razón Social"
                        formControlName="razonsocial"
                      />
                    </div>
                    <div class="col-12" *ngIf="empresadatos">
                      <input
                        type="text"
                        class="form-control"
                        id="inputAddress"
                        [readonly]="datosfacturacion"
                        placeholder="Giro"
                        formControlName="giro"
                      />
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend d-flex">
                          <div class="input-group-text">+569</div>
                        </div>

                        <input
                          type="number"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': validarcampo('telefonoempresa')
                          }"
                          id="inputEmail4"
                          [readonly]="datosfacturacion"
                          [placeholder]="
                            form.value.isempresa
                              ? 'Tel. Empresa'
                              : 'Tel. contacto'
                          "
                          formControlName="telefonoempresa"
                        />

                        <div
                          class="invalid-feedback"
                          *ngIf="validarcampo('telefonoempresa')"
                        >
                          {{ mensajeerrortelefonoempresa }}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input
                        type="email"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': validarcampo('emailempresa')
                        }"
                        id="inputPassword4"
                        [readonly]="datosfacturacion"
                        [placeholder]="
                          form.value.isempresa
                            ? 'Email Empresa'
                            : 'Email contacto'
                        "
                        formControlName="emailempresa"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="validarcampo('emailempresa')"
                      >
                        {{ mensajeerroremailempresa }}
                      </div>
                    </div>
                    <div class="col-md-12 mt-4 text-center">
                      <button
                        type="button"
                        class="btn"
                        style="
                          background-color: #005ad2;
                          color: #f2f3f5;
                          font-weight: bold;
                          width: 60%;
                        "
                        *ngIf="!datosfacturacion"
                        (click)="guardarfacturacion()"
                      >
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item mt-2" *ngIf="datosfacturacion">
              <div class="row mt-3">
                <p><b>3.- Dirección:</b></p>

                <h2
                  class="accordion-header d-flex justify-content-between"
                  id="flush-headingThree"
                >
                  <button
                    class="btn-acordeon accordion-button pt-0 pb-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    {{ form.value.direccion }}
                  </button>

                  <button
                    type="button"
                    class="btn btn-outline-dark color-gris border-gris btn-editar"
                    *ngIf="datosdireccion"
                    (click)="modificardireccion()"
                  >
                    Modificar <i class="far fa-edit"></i>
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  [ngClass]="{ show: datosdireccion == false }"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body px-0">
                    <div class="row g-3">
                      <div
                        class="col-md-12"
                        *ngIf="existedireccion; else botondireccion"
                      >
                        <form class="row g-3">
                          <div class="col-12">
                            <input
                              type="text"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid': validarcampo('direccion')
                              }"
                              id="inputAddress"
                              placeholder="Direccion"
                              formControlName="direccion"
                              ngx-google-places-autocomplete
                              (onAddressChange)="AddressChange($event)"
                            />
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('direccion')"
                            >
                              {{ mensajeerrordireccion }}
                            </div>
                          </div>
                          <div class="col-6">
                            <input
                              type="text"
                              class="form-control"
                              [ngClass]="{ 'is-invalid': validarcampo('region') }"
                              formControlName="region"
                              placeholder="Region"
                            />
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('region')"
                            >
                              La region es requerida
                            </div>
                          </div>

                          <div class="col-6">
                            <input
                              type="text"
                              class="form-control"
                              [ngClass]="{ 'is-invalid': validarcampo('comuna') }"
                              formControlName="comuna"
                              placeholder="comuna"
                            />
                            <div
                              class="invalid-feedback"
                              *ngIf="validarcampo('comuna')"
                            >
                              La comuna es requerida
                            </div>
                          </div>
                          <div class="col-12 d-flex justify-content-center">
                            <button
                              *ngIf="!datosdireccion"
                              type="button"
                              class="btn"
                              style="
                                background-color: #005ad2;
                                color: #f2f3f5;
                                font-weight: bold;
                                width: 60%;
                              "
                              (click)="guardardireccion()"
                            >
                              Confirmar
                            </button>
                          </div>
                        </form>
                      </div>

                      <!-- boton direccion -->

                      <ng-template #botondireccion>
                        <div class="col-md-12 mt-4 text-center">
                          <button
                            type="button"
                            class="btn"
                            style="
                              background-color: #005ad2;
                              color: #f2f3f5;
                              font-weight: bold;
                              width: 60%;
                            "
                            data-bs-toggle="modal"
                            data-bs-target="#modaldirecciones"
                          >
                            Agregar nueva dirección
                          </button>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="mt-2 mediospago" *ngIf="datosdireccion">
            <p><b>4.- Medio de pago:</b></p>

            <!--
            <div class="row d-flex justify-content-center">

              <owl-carousel-o [options]="owl_metodosdepago">

                <ng-template carouselSlide class="text-center">
                  
                  <div class="d-flex justify-content-center">

                    <input
                      type="radio"
                      class="btn-check"
                      formControlName="mediopago"
                      id="periodo1"
                      [value]="1"
                      checked
                      autocomplete="off"
                    />
    
                    <label
                      class="btn btn-periodos px-0 pb-0 card-border"
                      for="periodo1"
                      style="
                        width: 100%;
                        max-width: 207px;
                        border-radius: 0px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        height: 25vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img src="../../../../assets/img/icon-webpay.png" />
                    </label>
                    
                  </div>
                  
                </ng-template>
  
                <ng-template carouselSlide class="text-center">
                  <div class="d-flex justify-content-center">
                    <input
                      type="radio"
                      class="btn-check"
                      formControlName="mediopago"
                      id="periodo2"
                      [value]="2"
                      autocomplete="off"
                    />
    
                    <label
                      class="btn btn-periodos px-0 pb-0 card-border"
                      for="periodo2"
                      style="
                        width: 100%;
                        max-width: 207px;
                        border-radius: 0px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        height: 25vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img src="../../../../assets/img/paypal.png" width="80px" />
                    </label>
                  </div>
                </ng-template>
  
                <ng-template carouselSlide class="text-center">
                  
                  <div class="d-flex justify-content-center">
                    <input
                      type="radio"
                      class="btn-check"
                      formControlName="mediopago"
                      id="periodo3"
                      [value]="3"
                      autocomplete="off"
                    />
    
                    <label
                      class="btn btn-periodos px-0 pb-0 card-border"
                      for="periodo3"
                      style="
                        width: 100%;
                        max-width: 207px;
                        border-radius: 0px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        height: 25vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img
                        src="../../../../assets/img/icon-transfer.png"
                        width="100px"
                      />
                    </label>
                  </div>

                </ng-template>

              </owl-carousel-o>

            </div>

            -->

            <div class="row d-flex justify-content-center">

                <div class="text-center col-md-12 mb-3">
                  
                  <div class="btn btn-metodospago card-border w-100 d-flex justify-content-center" style="cursor:pointer">

                    <input
                      type="radio"
                      class="form-check-input"
                      formControlName="mediopago"
                      id="periodo1"
                      [value]="1"
                      checked
                      autocomplete="off"
                    />
    
                    <label
                      class="px-0 pb-0 d-flex justify-content-between align-items-center"
                      for="periodo1"
                      style="
                        width: 100%;
                        border-radius: 0px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        height: 25vh;
                        display: flex;
                        align-items: center;
                        cursor:pointer
                      "
                    >
                      <img src="../../../../assets/img/icon-webpay.png" />

                      <h6>Paga con Webpay</h6>

                      <div>&nbsp;</div>

                    </label>
                    
                  </div>
                  
                </div>
  
                <div class="text-center col-md-12 mb-3">
                  
                  <div class="btn btn-metodospago card-border w-100 d-flex justify-content-center"  style="cursor:pointer">
                      
                      <input
                        type="radio"
                        class="form-check-input"
                        formControlName="mediopago"
                        id="periodo2"
                        [value]="2"
                        autocomplete="off"
                      />
      
                      <label
                        class="px-0 pb-0 d-flex justify-content-between align-items-center"
                        for="periodo2"
                        style="
                          width: 100%;
                          border-radius: 0px;
                          border-bottom-left-radius: 5px;
                          border-bottom-right-radius: 5px;
                          border-top-left-radius: 5px;
                          border-top-right-radius: 5px;
                          height: 25vh;
                          cursor:pointer
                        "
                      >
                        <img src="../../../../assets/img/paypal.png" width="80px" />

                        <h6>Paga con Paypal</h6>

                        <div>&nbsp;</div>

                      </label>

                  </div>

                </div>
  
                <div class="text-center col-md-12  mb-3">
                  
                  <div class="btn btn-metodospago card-border w-100 d-flex justify-content-center"  style="cursor:pointer">
                    <input
                      type="radio"
                      class="form-check-input"
                      formControlName="mediopago"
                      id="periodo3"
                      [value]="3"
                      autocomplete="off"
                    />
    
                    <label
                      class="px-0 pb-0 d-flex justify-content-between align-items-center"
                      for="periodo3"
                      style="
                        width: 100%;
                        border-radius: 0px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        height: 25vh;
                        display: flex;
                        cursor:pointer
                      "
                    >
                      <img
                        src="../../../../assets/img/icon-transfer.png"
                        width="100px"
                      />

                      <h6>Paga con transferencia</h6>

                      <div>&nbsp;</div>

                    </label>
                  </div>

                </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <app-detalle-pedido
        (eventoMovilComprar) = "ValidarBtnComprarMovil($event)"
        [totalcarroarray]="totalcarroarray"
        [mostrarBtnComprarMovil]="mostrarBtnComprarMovil"
      ></app-detalle-pedido>

      <div class="row mt-4">
        <div class="col-12">
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="promociones" />
            <label
              class="form-check-label"
              for="promociones"
              style="font-size: 13px"
              >Quiero recibir promociones (opcional)</label
            >
          </div>
        </div>
      </div>

      <div class="row mt-4 d-none d-sm-none d-md-block d-lg-block">
        <div class="col-6">
          <p class="mt-2">TOTAL {{totalcarroarray.total | currency:'USD':'symbol-narrow':'4.0-0':'es-CL'}}</p>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn"
            [disabled]="form.invalid"
            style="
              background-color: #009900;
              color: #f2f3f5;
              font-weight: bold;
              width: 100%;
            "
            (click)="finalizarcompra()"
          >
            COMPRAR
          </button>
        </div>
        <div class="col-12">
          <span class="text-muted" style="font-size: 12px">
            * Al confirmar el pedido declaras haber leído y aceptado nuestros
            <span
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#modalterminos"
              ><strong>Términos y condiciones.</strong>
            </span>
          </span>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modaldirecciones"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div
            class="modal-header"
            style="border-bottom: 0px; padding-bottom: 0px"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h6 style="color: #fff" class="me-4">Agregar dirección</h6>

            <div class="row">
              <div class="col-md-12">
                <form class="row g-3">
                  <div class="col-12">
                    <input
                      type="text"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': validarcampo('direccion') }"
                      id="inputAddress"
                      placeholder="Direccion"
                      formControlName="direccion"
                      ngx-google-places-autocomplete
                      (onAddressChange)="AddressChange($event)"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="validarcampo('direccion')"
                    >
                      {{ mensajeerrordireccion }}
                    </div>
                  </div>
                  <div class="col-6">
                    <input
                      type="text"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': validarcampo('region') }"
                      formControlName="region"
                      placeholder="Region"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="validarcampo('region')"
                    >
                      La region es requerida
                    </div>
                  </div>

                  <div class="col-6">
                    <input
                      type="text"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': validarcampo('comuna') }"
                      formControlName="comuna"
                      placeholder="comuna"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="validarcampo('comuna')"
                    >
                      La comuna es requerida
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center mt-4">
                <button
                  *ngIf="!datosdireccion; else cerrarmodal"
                  type="button"
                  class="btn"
                  style="
                    background-color: #005ad2;
                    color: #f2f3f5;
                    font-weight: bold;
                    width: 60%;
                  "
                  (click)="guardardireccion()"
                >
                  Confirmar
                </button>

                <ng-template #cerrarmodal>
                  <button
                    *ngIf="datosdireccion"
                    data-bs-dismiss="modal"
                    type="button"
                    class="btn"
                    style="
                      background-color: #005ad2;
                      color: #f2f3f5;
                      font-weight: bold;
                      width: 60%;
                    "
                    (click)="guardardireccion()"
                  >
                    Confirmar
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <!-- Modal Terminos-->
    <div
      class="modal fade"
      id="modalterminos"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div
            class="modal-header"
            style="border-bottom: 0px; padding-bottom: 0px"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">

            <h6 class="me-4 mb-4 "> <strong>Términos y Condiciones</strong> </h6>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              illo voluptatem ipsa in ea a libero esse iusto, architecto ut
              voluptatum voluptate id omnis, natus quam cumque laborum? Eum,
              non. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Laboriosam aliquam hic assumenda eum possimus iusto dolores illo
              animi. Ullam quo officia iusto tenetur minus eius quasi sit.

              Facere, aspernatur dolores. Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Minima animi illum enim aliquid quam
              veritatis in corporis sint itaque praesentium expedita, ad aperiam
              rem suscipit adipisci eius quasi eveniet porro. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. Eligendi cum sequi ratione
              natus, dolor, optio animi illum officia aliquam error aspernatur
              necessitatibus, corrupti quam unde dolores aliquid deserunt?
              Dignissimos, nesciunt?

            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Terminos-->
  </div>
</div>

<br /><br /><br /><br /><br />
<app-footer></app-footer>
